<div class="row" style="height:100vh;">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar">
        {{>adminMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden">
        <div class="row" #>
            <div class="col-12">
                {{>adminTop}}
            </div>
        </div>
        {{!-- --}}
        <div class="row">
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                <div class="mx-3 d-flex flex-column align-items-center justify-content-center" id="success-div">
                    <div class="d-flex flex-column align-items-center justify-content-center" id="success">
                        <svg width="109" height="87" viewBox="0 0 109 87" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M106.724 2.63363C104.628 0.357731 101.231 0.357731 99.1358 2.63363L34.8545 72.4509L10.1458 45.6145C8.05058 43.3386 4.65358 43.3389 2.55792 45.6145C0.462464 47.8902 0.462464 51.5797 2.55792 53.8556L31.0606 84.8122C33.1552 87.0878 36.5547 87.0862 38.6485 84.8122L106.724 10.8749C108.819 8.59926 108.819 4.90952 106.724 2.63363Z"
                                fill="white" />
                        </svg>
                    </div>
                    <p class="my-2 font-weight-bold" style="font-size:1.5vw;">Success!</p>
                    <p class="mb-5">{{success}}</p>
                    <button class="my-5" id="done-btn" onclick="window.location.href='../users/home'">Done</button>
                </div>
            </div>
            {{!-- Right panel --}}

        </div>
    </div>

</div>
</div>