<div class="row title d-flex align-items-center px-3 my-3" id="topnav">
    <div class="col-lg-3" id="">
        <h3 id="dashText">Dashboard</h3>
    </div>

    <div class="col-lg-3 input-group" id="search">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" id="search-btn" type="button">
                <span id="span-search" class="d-flex justify-content-center">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="6.84394" cy="6.84439" rx="5.99237" ry="5.99237" stroke="#C4C4C4" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.0117 11.3234L13.3611 13.6667" stroke="#C4C4C4" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </button>

        </div>
        <input type="text" name="" id="search-input" class="form-control" aria-describedby="basic-addon"
            placeholder="Search">
        {{!-- <form action="">
            <button type="submit" id="search-btn">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="6.84394" cy="6.84439" rx="5.99237" ry="5.99237" stroke="#C4C4C4" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M11.0117 11.3234L13.3611 13.6667" stroke="#C4C4C4" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <input type="search" class="" id="search-input" placeholder="Search..." aria-label="Search for..."
                autocomplete="off" data-docs-version="4.5" spellcheck="false" role="combobox" aria-autocomplete="list"
                aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto">
        </form> --}}

    </div>

    <div class="col-lg-3 d-flex justify-content-end" id="date">
        {{!-- <img src="calendar.svg"> --}}
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.06152 6.26949H13.9442" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M10.961 8.87313H10.9672" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M8.00298 8.87313H8.00915" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M5.03911 8.87313H5.04529" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M10.961 11.4642H10.9672" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M8.00298 11.4642H8.00915" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M5.03911 11.4642H5.04529" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M10.6955 1.33334V3.5272" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M5.31075 1.33334V3.5272" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.8255 2.38614H5.18064C3.22285 2.38614 2 3.47676 2 5.48149V11.5146C2 13.5508 3.22285 14.6667 5.18064 14.6667H10.8193C12.7833 14.6667 14 13.5697 14 11.565V5.48149C14.0062 3.47676 12.7895 2.38614 10.8255 2.38614Z"
                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        11 november 2020
    </div>

    <div class="col-lg-3 d-flex align-items-center justify-content-between px-0" id="rightnav">
        <div class="d-flex justify-content-center align-items-center" id="notifications">
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M6.85137 4.88959H6.7965C4.20487 4.88959 1.82864 6.73653 1.59811 9.18172C1.58274 9.35664 1.57226 9.53538 1.56549 9.72793L1.55602 10.1781L1.55414 10.5817L1.56571 10.5357C1.45876 11.0479 1.21226 11.5231 0.851719 11.9113L0.800049 11.9766C0.491337 12.4372 0.313958 12.9704 0.286502 13.5209L0.285852 13.7009C0.270091 14.425 0.522708 15.1415 0.997945 15.7105C1.64241 16.3789 2.47666 16.7775 3.37204 16.8621C5.66205 17.1064 7.97896 17.1064 10.2754 16.8615C11.1646 16.7811 12.0014 16.3812 12.6188 15.7376C13.085 15.1898 13.3395 14.5324 13.3613 13.8517L13.362 13.547C13.3365 12.9722 13.158 12.4386 12.8456 11.98L12.7981 11.9201L12.6822 11.7862C12.4217 11.4667 12.2315 11.0985 12.1233 10.7048L12.089 10.5634L12.0819 10.4152C12.0797 10.3485 12.0787 10.2745 12.0784 10.1822L12.0783 9.67364C12.0765 9.47911 12.0706 9.34077 12.0569 9.18504C11.8185 6.73523 9.44161 4.88959 6.85137 4.88959ZM6.79678 5.94373H6.85165C8.92664 5.94373 10.8195 7.41353 11.0013 9.28159C11.0121 9.40423 11.0169 9.52123 11.0183 9.69504L11.0204 10.3785C11.0227 10.4878 11.0271 10.5787 11.0346 10.681L11.0445 10.751L11.0944 10.9594C11.2423 11.5106 11.5079 12.0248 11.8736 12.4681L11.9797 12.5903L11.968 12.5711C12.1708 12.8688 12.2863 13.2143 12.3025 13.5706L12.302 13.6941C12.3142 14.1898 12.1469 14.6608 11.8303 15.0337C11.412 15.4684 10.8139 15.7542 10.1711 15.8124C7.94133 16.0501 5.70025 16.0501 3.47902 15.8132C2.82913 15.7517 2.23067 15.4657 1.78827 15.0083C1.50148 14.6627 1.33596 14.1933 1.34635 13.7121L1.34647 13.5469L1.35991 13.403C1.39227 13.1622 1.47419 12.9181 1.60116 12.6934L1.66555 12.5888C2.13758 12.0673 2.46152 11.4332 2.6042 10.7499L2.61527 10.6427L2.62028 9.94821L2.63264 9.59584C2.63824 9.48468 2.64541 9.37906 2.6544 9.27669C2.83007 7.41362 4.7212 5.94373 6.79678 5.94373ZM1.66555 12.5888C1.65413 12.6014 1.64263 12.6139 1.63104 12.6264L1.66894 12.5832L1.66555 12.5888ZM8.82969 18.2552C8.60155 18.0727 8.26782 18.1087 8.08428 18.3355C8.00473 18.4338 7.91264 18.522 7.81016 18.598C7.46261 18.8657 7.02889 18.9849 6.59773 18.9345C6.16719 18.8841 5.77583 18.6689 5.51028 18.3375C5.32783 18.1098 4.99427 18.0723 4.76526 18.2537C4.53625 18.4351 4.49851 18.7667 4.68096 18.9944C5.12128 19.5439 5.76649 19.8987 6.47381 19.9815C7.18051 20.0641 7.89211 19.8685 8.45182 19.4372C8.61798 19.3142 8.77476 19.164 8.91045 18.9963C9.09399 18.7695 9.05783 18.4377 8.82969 18.2552Z"
                    fill="black" />
                <ellipse cx="11.3345" cy="6.8279" rx="6.9517" ry="6.8279" fill="#FF5A43" />
                <path
                    d="M10.5366 9.98352L12.6766 7.92352C13.6266 7.01352 13.8266 6.40352 13.8266 5.72352C13.8266 4.52352 12.8866 3.77352 11.4266 3.77352C10.3366 3.77352 9.40656 4.16352 8.86656 4.83352L9.54656 5.42352C9.97656 4.90352 10.5866 4.66352 11.3366 4.66352C12.3166 4.66352 12.8266 5.10352 12.8266 5.82352C12.8266 6.26352 12.6866 6.70352 11.9466 7.42352L9.09656 10.1735V10.8535H14.1266V9.98352H10.5366Z"
                    fill="white" />
            </svg>

        </div>
        <div id="userImage">
            <svg width="90" height="91" viewBox="0 0 90 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M87.28 45.5C88.7822 45.5 90.0084 46.7189 89.9196 48.2185C89.4435 56.2621 86.8615 64.0515 82.4161 70.7784C77.4715 78.2609 70.4434 84.0927 62.2208 87.5365C53.9981 90.9803 44.9501 91.8814 36.2209 90.1257C27.4918 88.3701 19.4736 84.0366 13.1802 77.6734C6.88683 71.3101 2.601 63.2027 0.864662 54.3766C-0.871673 45.5505 0.0194776 36.4019 3.42542 28.0879C6.83136 19.7739 12.5991 12.6677 19.9993 7.66813C26.6357 3.18462 34.3175 0.575764 42.2514 0.0849339C43.7674 -0.00885349 45 1.23131 45 2.75021C45 4.26911 43.7671 5.49037 42.2519 5.59703C35.3949 6.07976 28.7632 8.36258 23.0216 12.2416C16.516 16.6368 11.4455 22.8839 8.45131 30.1928C5.4571 37.5018 4.67368 45.5444 6.20011 53.3035C7.72655 61.0627 11.4943 68.1899 17.0268 73.784C22.5594 79.378 29.6083 83.1876 37.2822 84.731C44.9561 86.2744 52.9103 85.4823 60.139 82.4548C67.3676 79.4273 73.546 74.3005 77.893 67.7226C81.7405 61.9004 84.0002 55.1728 84.4686 48.2181C84.5695 46.7192 85.7778 45.5 87.28 45.5Z"
                    fill="#124814" />
            </svg>
            <div id="image">

            </div>
            <p class="text-center m-2" style="font-size:14px;font-weight:400;font-style:normal;">Oreoluwa</p>

        </div>
        <div class="d-flex justify-content-center align-items-center" id="logout">
            <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.06934" y="1.06915" width="11.76" height="15.96" fill="white" stroke="black"
                    stroke-width="1.68" />
                <path
                    d="M21.8865 7.85315C21.8863 7.85296 21.8862 7.85274 21.886 7.85255L18.6284 4.61068C18.3843 4.36782 17.9896 4.36872 17.7467 4.6128C17.5038 4.85685 17.5047 5.25157 17.7488 5.49447L19.9359 7.67101H6.73281C6.38849 7.67101 6.10938 7.95012 6.10938 8.29445C6.10938 8.63877 6.38849 8.91788 6.73281 8.91788H19.9359L17.7488 11.0944C17.5047 11.3373 17.5038 11.732 17.7467 11.9761C17.9896 12.2202 18.3844 12.221 18.6284 11.9782L21.886 8.73634C21.8862 8.73615 21.8863 8.73593 21.8865 8.73575C22.1307 8.49205 22.1299 8.09604 21.8865 7.85315Z"
                    fill="black" stroke="black" stroke-width="0.84" />
            </svg>

        </div>
    </div>
</div>