<div class="" id="leftMenu" style="padding-left: 0px;">
    <div class="btn-group-vertical" id="verticalmenu">
        <a class="btn verticalmenubutton rounded-pill" href="userDashboard"
            style="margin-top:179px; background-color: whitesmoke; color: #124841">Dashboard</a>
        <a class="btn verticalmenubutton" id="" href="profile">Profile</a>
        <a class="btn verticalmenubutton" href="events">Events</a>
        <a class="btn verticalmenubutton" href="members">Member Groups</a>
        <a class="btn verticalmenubutton" href="funds">Fund a course</a>
    </div>
</div>