<div class=" h-100 pt-5" id="leftMenu" style="padding-left: 0px;">
    <a href="#" class="mx-5 my-4">
        <svg width="81" height="45" viewBox="0 0 81 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M79.906 22.5C79.906 34.1486 68.5538 43.9065 54.1257 43.9065C39.6977 43.9065 28.3454 34.1486 28.3454 22.5C28.3454 10.8514 39.6977 1.09346 54.1257 1.09346C68.5538 1.09346 79.906 10.8514 79.906 22.5Z"
                stroke="white" stroke-width="2.18692" />
            <path
                d="M52.6541 22.5C52.6541 34.1486 41.3018 43.9065 26.8738 43.9065C12.4457 43.9065 1.09346 34.1486 1.09346 22.5C1.09346 10.8514 12.4457 1.09346 26.8738 1.09346C41.3018 1.09346 52.6541 10.8514 52.6541 22.5Z"
                stroke="white" stroke-width="2.18692" />
            <path
                d="M18.2065 28.4315C19.8831 28.4315 21.3119 27.8337 22.2596 26.7257L21.0349 25.5594C20.2914 26.3758 19.3729 26.7694 18.3086 26.7694C16.1945 26.7694 14.6637 25.2823 14.6637 23.1829C14.6637 21.0835 16.1945 19.5964 18.3086 19.5964C19.3729 19.5964 20.2914 19.99 21.0349 20.7919L22.2596 19.6401C21.3119 18.5321 19.8831 17.9343 18.2211 17.9343C15.0865 17.9343 12.7538 20.1358 12.7538 23.1829C12.7538 26.23 15.0865 28.4315 18.2065 28.4315Z"
                fill="white" />
            <path
                d="M45.8469 28.2857L45.8323 18.0801H44.2723L40.2921 24.845L36.2391 18.0801H34.6791V28.2857H36.4869V21.6083L39.8402 27.1194H40.6858L44.0391 21.5208L44.0536 28.2857H45.8469Z"
                fill="white" />
            <path
                d="M62.3127 26.6965V23.8827H67.2405V22.3227H62.3127V19.6693H67.8674V18.0801H60.4173V28.2857H68.0715V26.6965H62.3127Z"
                fill="white" />
        </svg>
    </a>
    <div class="" style="margin-top:50px;">
        <ul class="text-left menu nav nav-tabs">
            <li class="active my-4 text-left menu-li"><a href="../users/home" class="">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.405 0.5H4.94C5.9975 0.5 6.845 1.3625 6.845 2.42075V4.9775C6.845 6.0425 5.9975 6.8975 4.94 6.8975H2.405C1.355 6.8975 0.5 6.0425 0.5 4.9775V2.42075C0.5 1.3625 1.355 0.5 2.405 0.5ZM2.405 9.10227H4.94C5.9975 9.10227 6.845 9.95802 6.845 11.023V13.5798C6.845 14.6373 5.9975 15.4998 4.94 15.4998H2.405C1.355 15.4998 0.5 14.6373 0.5 13.5798V11.023C0.5 9.95802 1.355 9.10227 2.405 9.10227ZM13.5951 0.5H11.0601C10.0026 0.5 9.15512 1.3625 9.15512 2.42075V4.9775C9.15512 6.0425 10.0026 6.8975 11.0601 6.8975H13.5951C14.6451 6.8975 15.5001 6.0425 15.5001 4.9775V2.42075C15.5001 1.3625 14.6451 0.5 13.5951 0.5ZM11.0601 9.10227H13.5951C14.6451 9.10227 15.5001 9.95802 15.5001 11.023V13.5798C15.5001 14.6373 14.6451 15.4998 13.5951 15.4998H11.0601C10.0026 15.4998 9.15513 14.6373 9.15513 13.5798V11.023C9.15513 9.95802 10.0026 9.10227 11.0601 9.10227Z"
                            fill="#fff" />
                    </svg>
                    Dashboard</a></li>
            <li class="text-left menu-li"><a href="../users/profile" class="">
                    <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.97037 4.46829C9.97037 6.67106 8.20421 8.43733 5.99988 8.43733C3.7963 8.43733 2.02939 6.67106 2.02939 4.46829C2.02939 2.26552 3.7963 0.5 5.99988 0.5C8.20421 0.5 9.97037 2.26552 9.97037 4.46829ZM6 15.5C2.74678 15.5 0 14.9712 0 12.9312C0 10.8905 2.76404 10.3804 6 10.3804C9.25397 10.3804 12 10.9092 12 12.9492C12 14.99 9.23596 15.5 6 15.5Z"
                            fill="white" />
                    </svg>
                    Profile</a></li>
            <li class="text-left my-4 menu-li"><a href="../event/events" class="">
                    <svg class="" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.8852 2.3075C11.8852 1.31 12.6952 0.5 13.6927 0.5C14.6902 0.5 15.5002 1.31 15.5002 2.3075C15.5002 3.305 14.6902 4.115 13.6927 4.115C12.6952 4.115 11.8852 3.305 11.8852 2.3075ZM8.99746 10.0695L11.165 7.27272L11.135 7.28772C11.255 7.12272 11.2775 6.91272 11.195 6.72522C11.1132 6.53772 10.9325 6.41022 10.7382 6.39522C10.535 6.37272 10.3332 6.46272 10.2125 6.62772L8.39821 8.97522L6.31996 7.34022C6.19246 7.24272 6.04246 7.20447 5.89246 7.22022C5.74321 7.24272 5.60821 7.32447 5.51746 7.44447L3.29821 10.3327L3.25246 10.4002C3.12496 10.6395 3.18496 10.947 3.40996 11.1127C3.51496 11.1802 3.62746 11.2252 3.75496 11.2252C3.92821 11.2327 4.09246 11.142 4.19746 11.0002L6.07996 8.57697L8.21746 10.1827L8.28496 10.227C8.52496 10.3545 8.82496 10.2952 8.99746 10.0695ZM10.5875 1.83522C10.5575 2.02272 10.5425 2.21022 10.5425 2.39772C10.5425 4.08522 11.9075 5.44947 13.5875 5.44947C13.775 5.44947 13.955 5.42772 14.1425 5.39772V11.4495C14.1425 13.9927 12.6425 15.5002 10.0925 15.5002H4.55075C2 15.5002 0.5 13.9927 0.5 11.4495V5.90022C0.5 3.35022 2 1.83522 4.55075 1.83522H10.5875Z"
                            fill="#fff" />
                    </svg>
                    Voting System</a></li>
            <li class="text-left menu-li"><a href="../group/groups" class="">
                    <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.1188 3.17464C12.1188 4.9369 10.714 6.34995 8.96187 6.34995C7.20979 6.34995 5.80491 4.9369 5.80491 3.17464C5.80491 1.4117 7.20979 0 8.96187 0C10.714 0 12.1188 1.4117 12.1188 3.17464ZM8.96182 12C6.38843 12 4.19112 11.592 4.19112 9.96013C4.19112 8.32755 6.37433 7.90472 8.96182 7.90472C11.5352 7.90472 13.7325 8.31269 13.7325 9.94527C13.7325 11.5772 11.5493 12 8.96182 12ZM13.4679 3.23192C13.4679 4.13027 13.1999 4.96716 12.7298 5.66288C12.6815 5.73448 12.7245 5.83107 12.8098 5.84593C12.9273 5.86619 13.0488 5.87768 13.1724 5.88105C14.4047 5.91347 15.5107 5.11576 15.8163 3.9148C16.2689 2.13093 14.9399 0.529422 13.2476 0.529422C13.0636 0.529422 12.8877 0.54901 12.7164 0.584133C12.6929 0.589537 12.6681 0.600344 12.6546 0.621283C12.6385 0.646951 12.6506 0.681399 12.6667 0.703689C13.1751 1.42035 13.4679 2.29439 13.4679 3.23192ZM15.5088 7.13443C16.3368 7.29721 16.8814 7.62954 17.1071 8.11249C17.2978 8.50898 17.2978 8.96896 17.1071 9.36478C16.7619 10.1139 15.6491 10.3543 15.2167 10.4165C15.1274 10.43 15.0555 10.3523 15.0649 10.2625C15.2858 8.18679 13.5284 7.20265 13.0737 6.97637C13.0543 6.96624 13.0502 6.9507 13.0523 6.94125C13.0536 6.93449 13.0617 6.92369 13.0764 6.92166C14.0603 6.90342 15.118 7.03851 15.5088 7.13443ZM4.82776 5.88099C4.95132 5.87761 5.0722 5.8668 5.19039 5.84586C5.27568 5.831 5.31866 5.73441 5.27031 5.66281C4.80022 4.96709 4.53227 4.13021 4.53227 3.23185C4.53227 2.29432 4.82507 1.42028 5.33343 0.703621C5.34955 0.681331 5.36097 0.646883 5.34552 0.621216C5.33209 0.600952 5.30657 0.589469 5.28374 0.584066C5.11182 0.548942 4.93588 0.529354 4.75187 0.529354C3.05956 0.529354 1.73056 2.13086 2.18386 3.91474C2.48941 5.11569 3.59546 5.91341 4.82776 5.88099ZM4.9477 6.94084C4.94972 6.95097 4.94569 6.96583 4.92689 6.97664C4.47157 7.20292 2.71412 8.18706 2.93506 10.2621C2.94446 10.3526 2.87328 10.4296 2.78396 10.4167C2.35148 10.3546 1.23872 10.1141 0.893544 9.36505C0.702152 8.96856 0.702152 8.50925 0.893544 8.11276C1.11919 7.62981 1.66314 7.29748 2.49117 7.13402C2.88268 7.03878 3.9397 6.90369 4.9242 6.92193C4.93897 6.92395 4.94636 6.93476 4.9477 6.94084Z"
                            fill="white" />
                    </svg>
                    Member Groups</a></li>
            <li class="text-left my-4 menu-li"><a href="../course/funding" class="">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.7603 7.5663C13.7599 7.56257 13.7597 7.55879 13.7592 7.55511C13.7568 7.53674 13.7537 7.51841 13.7492 7.50031C13.7492 7.50013 13.7491 7.49995 13.7491 7.49972C13.7449 7.4828 13.7396 7.46611 13.7336 7.4496C13.7319 7.44487 13.7301 7.44033 13.7282 7.43569C13.7235 7.42377 13.7182 7.41204 13.7125 7.40049C13.7101 7.39544 13.7077 7.39039 13.705 7.38544C13.7035 7.38275 13.7024 7.37998 13.7009 7.3773C13.6949 7.36661 13.6883 7.35656 13.6816 7.3466C13.6803 7.34473 13.6793 7.34278 13.678 7.34096C13.6679 7.32623 13.6569 7.31254 13.6453 7.29958C13.6432 7.29712 13.6408 7.29485 13.6386 7.29248C13.6286 7.2817 13.6182 7.27161 13.6073 7.2621C13.6046 7.25969 13.6019 7.25728 13.599 7.25496C13.5845 7.24296 13.5696 7.23177 13.554 7.22208L7.55439 3.41375L11.0088 0.984675L16.8 4.66063L14.361 6.37568C14.1706 6.50947 14.1135 6.79029 14.2334 7.0028C14.3532 7.21535 14.6046 7.27916 14.7949 7.14532L17.8095 5.02553C17.9307 4.94035 18.0029 4.79032 17.9997 4.63043C17.9965 4.47053 17.9183 4.32437 17.7938 4.24533L11.1993 0.0594116C11.0688 -0.0234464 10.9081 -0.0193535 10.781 0.0699167L6.54758 3.04685C6.54672 3.04744 6.54583 3.04808 6.54497 3.04867L4.4295 4.53625C4.42852 4.53693 4.42754 4.53761 4.42661 4.53829L0.190245 7.51727C0.0690509 7.60245 -0.00315214 7.75248 0.000105758 7.91237C0.00332293 8.07227 0.0814716 8.21843 0.206005 8.29747L6.80055 12.4834C6.86302 12.5231 6.93242 12.5428 7.00177 12.5428C7.07723 12.5428 7.15257 12.5194 7.21874 12.4729L10.2334 10.353C10.4237 10.2193 10.4808 9.93844 10.361 9.72593C10.2412 9.51337 9.9897 9.44952 9.7994 9.5834L6.99106 11.5582L1.19987 7.88213L4.65429 5.45301L10.8309 9.37362V14.5662C10.8309 14.7318 10.9114 14.8843 11.0413 14.9644C11.1026 15.0022 11.1704 15.021 11.2381 15.021C11.3136 15.021 11.3889 14.9976 11.4551 14.951L13.5733 13.4615C13.6917 13.3783 13.7635 13.233 13.7635 13.0767V7.61955C13.7635 7.61687 13.7631 7.61432 13.763 7.61164C13.7628 7.59654 13.7619 7.58144 13.7603 7.5663ZM11.6453 13.7425V9.10908C11.6453 8.94551 11.5666 8.79457 11.4393 8.71376L5.43619 4.90324L6.77245 3.96356L12.5636 7.63956L12.0566 7.99609C11.8662 8.12989 11.8091 8.4107 11.9289 8.62321C12.0063 8.76055 12.1386 8.83572 12.2739 8.83572C12.3481 8.83572 12.4231 8.81312 12.4905 8.76574L12.949 8.44335V12.8257L11.6453 13.7425Z"
                            fill="white" />
                        <path
                            d="M17.3748 6.0749L14.3602 8.19469C14.1699 8.32848 14.1128 8.6093 14.2326 8.82181C14.31 8.95915 14.4423 9.03432 14.5776 9.03432C14.6517 9.03432 14.7268 9.01172 14.7942 8.96434L17.8088 6.84454C17.9991 6.71075 18.0563 6.42993 17.9364 6.21742C17.8166 6.00487 17.5651 5.94102 17.3748 6.0749Z"
                            fill="white" />
                        <path
                            d="M9.79946 11.4024L6.99112 13.3772L0.608538 9.32583C0.413146 9.20177 0.164406 9.27799 0.0532707 9.49646C-0.0578642 9.71479 0.0105108 9.99242 0.206066 10.1165L6.80061 14.3025C6.86308 14.3422 6.93248 14.3619 7.00183 14.3619C7.07729 14.3619 7.15263 14.3385 7.2188 14.2919L10.2334 12.1721C10.4238 12.0383 10.4809 11.7575 10.361 11.545C10.2413 11.3324 9.98976 11.2685 9.79946 11.4024Z"
                            fill="white" />
                        <path
                            d="M17.3748 7.89395L14.3602 10.0137C14.1699 10.1475 14.1128 10.4284 14.2326 10.6409C14.31 10.7782 14.4423 10.8534 14.5776 10.8534C14.6517 10.8534 14.7268 10.8308 14.7942 10.7834L17.8088 8.6636C17.9991 8.5298 18.0563 8.24899 17.9364 8.03648C17.8166 7.82387 17.5651 7.76007 17.3748 7.89395Z"
                            fill="white" />
                        <path
                            d="M9.79946 13.2215L6.99112 15.1962L0.608538 11.1449C0.413146 11.0208 0.164406 11.097 0.0532707 11.3155C-0.0578642 11.5338 0.0105108 11.8115 0.206066 11.9356L6.80061 16.1215C6.86308 16.1612 6.93248 16.1809 7.00183 16.1809C7.07729 16.1809 7.15263 16.1575 7.2188 16.111L10.2334 13.9912C10.4238 13.8574 10.4809 13.5766 10.361 13.364C10.2413 13.1514 9.98976 13.0876 9.79946 13.2215Z"
                            fill="white" />
                        <path
                            d="M17.3748 9.71301L14.3602 11.8328C14.1699 11.9666 14.1128 12.2474 14.2326 12.4599C14.31 12.5973 14.4423 12.6724 14.5776 12.6724C14.6517 12.6724 14.7268 12.6498 14.7942 12.6024L17.8088 10.4827C17.9991 10.3489 18.0563 10.068 17.9364 9.85553C17.8166 9.64298 17.5651 9.57917 17.3748 9.71301Z"
                            fill="white" />
                        <path
                            d="M9.79946 15.0405L6.99112 17.0153L0.608538 12.9639C0.413146 12.8399 0.164406 12.9161 0.0532707 13.1346C-0.0578642 13.3529 0.0105108 13.6305 0.206066 13.7546L6.80061 17.9406C6.86308 17.9803 6.93248 18 7.00183 18C7.07729 18 7.15263 17.9766 7.2188 17.9301L10.2334 15.8102C10.4238 15.6764 10.4809 15.3956 10.361 15.1831C10.2413 14.9705 9.98976 14.9067 9.79946 15.0405Z"
                            fill="white" />
                    </svg>
                    Fund a Cause</a></li>
        </ul>
    </div>
</div>