<div class="card" id="card" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-7" style="max-width: 70%;">
            <div class="card bg-dark text-white">
                <img src="Group95.svg" class="card-img" alt="Responsive image">
                <div class="card-img-overlay text-center" style="top: 334px;">
                    <h5 class="card-title">LET US BUILD A NIGERIA OF OUR DREAM</h5>
                    <p class="card-text">Together we can build a future for this great nation</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="max-width: 37%;">
            <div class="card-body" id="formCard">
                <h3 class="">Welcome to PLIDE Automated Citizens Engagement System</h3>
                <p class="">RESET PASSWORD</p>
                <form id="changepassword" action="users/forgotPassword" method="POST" enctype="multipart/formdata"
                    onsubmit="">
                    <label for="resetPassword" style="color: #124814; line-height: 25px; margin-bottom:50px"><b>Enter
                            new password to reset your password</b></label>
                    <div class="form-group" id="alignForm">
                        <input type="password" class="form-control" name="newpassword" id="newpassword"
                            placeholder="NEW PASSWORD">
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                            placeholder="CONFIRM PASSWORD">
                    </div>
                    <br>
                    <button type="submit" class="btn" id="click">RESET PASSWORD</button>
                </form>
            </div>
        </div>
    </div>
</div>