<div class="container-fluid" style="height: 826px;">
    <div class="container" id="leftMenu" style="padding-left: 0px;">
        <div class="btn-group-vertical" id="verticalmenu">
            <a class="btn" id="verticalmenubutton" href="userDashboard" style="margin-top:179px; background-color: whitesmoke; color: #124841">Dashboard</a>
            <a class="btn" id="verticalmenubutton" href="users/profile">Profile</a>
            <a class="btn" id="verticalmenubutton" href="users/events">Events</a>
            <a class="btn" id="verticalmenubutton" href="users/members">Member Groups</a>
            <a class="btn" id="verticalmenubutton" href="users/funds">Fund a course</a>
        </div>
    </div>
    <div class="container" id="top">
        <div class="container" id="topMenu">
            <div id="menuA" style="width: 380px;">
                <h3 id="dashText">Groups</h3>
            </div>
            <div id="menuB" style="width: 270px;">
                <input type="search" class="form-control ds-input" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.5" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="border: 1px solid #ced4da3d;border-radius: 2.25rem;">
            </div>
            <div id="menuC" style="padding-left: 45px; width: 182px; font-family: Sofia Pro;">
                <img src="calendar.svg">
                11 november 2020
            </div>
        </div>
        <div class="container" id="rightMenu">
            <div id="topList">
                <div id="notification">
                    <img src="Notification.svg" style="padding-top: 50px;margin-left: 12px;">
                    <img src="Ellipse 34.svg" style="width: 106px;padding-top: 52px;margin-left: 54px;height: 132px;">
                    <img src="Group 15.svg" style="padding-top:50px;margin-left: 52px;">
                </div>
            </div>
            <div id="middleList">
                <div id="ml1">
                    <p>Group Activities</p>
                    <div class="card mb-1" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 65px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 65px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:14px;">John odetoyinbo</b>
                                    <p class="card-text" style="font-size: 12px; font-style:normal; color: rgba(255, 255, 255, 0.63);"> Commented about the post<br> 11 mins ago</p>
                                </div>
                                <div class="card-footer" id="footer">
                                    <small class="text-muted">View</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 65px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 65px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:14px;">John odetoyinbo</b>
                                    <p class="card-text" style="font-size: 12px; font-style:normal; color: rgba(255, 255, 255, 0.63);"> Commented about the post<br> 11 mins ago</p>
                                </div>
                                <div class="card-footer" id="footer">
                                    <small class="text-muted">View</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 65px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 65px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:14px;">John odetoyinbo</b>
                                    <p class="card-text" style="font-size: 12px; font-style:normal; color: rgba(255, 255, 255, 0.63);"> Commented about the post<br> 11 mins ago</p>
                                </div>
                                <div class="card-footer" id="footer">
                                    <small class="text-muted">View</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1-1" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 65px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 65px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:14px;">John odetoyinbo</b>
                                    <p class="card-text" style="font-size: 12px; font-style:normal; color: rgba(255, 255, 255, 0.63);"> Commented about the post<br> 11 mins ago</p>
                                </div>
                                <div class="card-footer" id="footer">
                                    <small class="text-muted">View</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-light" id="seeMore">See More</button>
                </div>
            </div>
            <div id="bottomList">
                <div id="yourVote">
                    <p style="color: white; margin-bottom:8px;">Today's Schedule</p>
                    <div class="card mb" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 50px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 50px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:13px; color:white;">Meeting with Group A</b>
                                    <p class="card-text" style="font-size: 9px; font-style:normal; color: rgba(255, 255, 255, 0.63);">9.00AM - 10.30AM<br>on ZOOM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 50px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 50px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:13px; color:white;">Meeting with Group A</b>
                                    <p class="card-text" style="font-size: 9px; font-style:normal; color: rgba(255, 255, 255, 0.63);">9.00AM - 10.30AM<br>on ZOOM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb" style="background-color:inherit; border:0px">
                        <div class="row no-gutters">
                            <div class="col-md-2" style="height: 50px;">
                                <img src="..." class="card-img" style="padding:13px;">
                            </div>
                            <div class="col-md-7" style="height: 50px; display:grid; margin-left: 7px;">
                                <div class="card-body" style="padding: 0px;">
                                    <b class="card-title" style="font-size:13px; color:white;">Meeting with Group A</b>
                                    <p class="card-text" style="font-size: 9px; font-style:normal; color: rgba(255, 255, 255, 0.63);">9.00AM - 10.30AM<br>on ZOOM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="middle">
        <div class="row" style="flex-wrap: inherit; width: 928px;">
            <div class="container" id="c1">
                <b>GROUP A</b>
                <div>
                    <b style="color: #124814;padding-left:112px;">CENTRAL ELITE</b>
                </div>
                <div>
                    <small>Team Members:</small>
                </div>
                <small>Group progress</small>
                <div class="progress mx-auto" data-value='80' style="height: 73px; background: inherit; margin-top: 95px;">
                    <span class="progress-left">
                        <span class="progress-bar" style="color: #124814;"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar" style="color: #124814;"></span>
                    </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div style="font-size: larger;">80%</div>
                    </div>
                </div>
            </div>
            <div class="container" id="c2">
                this is two
            </div>
            <div class="container" id="c3">
                SHOW MORE
            </div>
        </div>
    </div>

    <div class="border" id="middleTop" style="height: 80px; border: 0px; display: table"></div>

    <div class="container" id="middleBottom">
        <div class="container">
            <div class="row" id="table">
                <div class="col" id="Theader1">
                    RECENT GROUPS
                    <b style="color: #124814; weight: 600;">CENTRAL ELITE</b>
                    <b style="color: #124814; weight: 600;">CENTRAL ELITE</b>
                    <b style="color: #124814; weight: 600;">CENTRAL ELITE</b>
                </div>
                <div class="col" id="Theader2">
                    CREATED <br>
                    26th OCtober 2006 <br>
                    26th OCtober 2006 <br>
                    26th OCtober 2006 <br>
                </div>
                <div class="col" id="Theader3">
                    LEADER <br>
                    Raima Hassan <br>
                    Raima Hassan <br>
                    Raima Hassan <br>
                </div>
                <div class="col" id="Theader4">
                    ACTION <br>
                    <button type="button" class="btn" id="view">View</button>
                    <button type="button" class="btn" id="delete">Delete</button><br>
                    <button type="button" class="btn" id="view">View</button>
                    <button type="button" class="btn" id="delete">Delete</button><br>
                    <button type="button" class="btn" id="view">View</button>
                    <button type="button" class="btn" id="delete">Delete</button><br>
                </div>
            </div>
        </div>
    </div>
</div>