<div class="card" id="card" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-7" style="max-width: 70%;">
            <div class="card bg-dark text-white">
                <img src="Group95.svg" class="card-img" alt="Responsive image">
                <div class="card-img-overlay text-center" style="top: 334px;">
                    <h5 class="card-title">LET US BUILD A NIGERIA OF OUR DREAM</h5>
                    <p class="card-text">Together we can build a future for this great nation</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="max-width: 37%;">
            <div class="card-body" id="formCard">
                <form id="resetPassword" action="users/forgotPassword" method="POST" enctype="multipart/formdata" onsubmit="myFunction()">
                    <label for="resetPassword" style="color: #124814; line-height: 25px; margin-bottom:50px"><b>Welcome to PLACES' reset password page, Please enter your email below.</b></label>
                    <div class="form-group" id="alignForm">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    </div>                   
                    <br><button type="submit" class="btn" id="click">RESET PASSWORD</button> &nbsp;&nbsp; REMEMBERED YOUR PASSWORD? <a href="login" id="login">LOGIN</a>
                </form>
            </div>
        </div>
    </div>
</div>
