<div class="card" id="card" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-7" style="max-width: 70%;">
            <div class="card bg-dark text-white">
                <img src="Group95.svg" class="card-img" alt="Responsive image">
                <div class="card-img-overlay text-center" style="top: 334px;">
                    <h5 class="card-title">LET US BUILD A NIGERIA OF OUR DREAM</h5>
                    <p class="card-text">Together we can build a future for this great nation</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="max-width: 37%;">
            <div class="card-body" id="formCard">
                <h5 class="card-title" id="title">Welcome to PLIDE Automated Citizens Engagement System</h5>
                <div class="buttons">
                  <a href="register" class="btn btn-outline-light" id="start" style="border-radius: 2px solid #FFFFFF;">GET STARTED</a>
                  <a href="login" class="btn" id="login">LOGIN</a>
                </div>
            </div>
        </div>
    </div>
</div>
