<div class="row h-100">
    <div class="col-7 h-100 w-100 px-0"
        style="background-image: url(bg-main.png);background-size:cover;border:solid 1px;">
        <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100">
            <h2 class="font-weight-bold">LET US BUILD A NIGERIA OF OUR DREAM</h2>
            <p class="">Together we can build a future for this great nation</p>
        </div>
    </div>
    <div class="col-5 my-4 p-4">
        <div class="p-5 mx-5 d-flex flex-column justify-content-center align-items-center" id="index-right">
            <p class="font-weight-bold mx-3 mb-5 px-2 text-center">Welcome to PLIDE Automated Citizens Engagement System
            </p>
            <button class="mt-5" id="get-started-btn" type="submit" onclick="window.location.href='register';">GET
                STARTED</button><br>
            <button class="mt-3" id="login-btn" type="submit" onclick="window.location.href='login';">LOGIN</button>
        </div>
    </div>
</div>