<div class="card" id="card" style="max-width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-7" style="max-width: 70%;">
            <div class="card bg-dark text-white">
                <img src="Group95.svg" class="card-img" alt="Responsive image">
                <div class="card-img-overlay text-center" style="top: 334px;">
                    <h5 class="card-title">LET US BUILD A NIGERIA OF OUR DREAM</h5>
                    <p class="card-text">Together we can build a future for this great nation</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="max-width: 37%;">
            <div class="card-body" id="formCard">
                <form id="loginDetails" action="users/registerMember" method="POST" enctype="multipart/formdata">
                    <label for="register" style="color: #124814; line-height: 25px;"><b>Welcome to PLIDE Automated Citizens Engagement System</b></label>
                    <div class="form-group" id="alignForm">
                        <input type="text" class="form-control" name="email" id="firstname" placeholder="email">
                    </div>
                    <div class="form-group" id="alignForm">
                        <input type="text" class="form-control" name="password" id="lastname" placeholder="password">
                    </div>
                    <div class="FP">
                        <a href="forgotPassword" id="FP">Forgot Password</a>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"> Remember me</label>
                        </div>
                    </div>
                    <br><button type="submit" class="btn" id="click" data-toggle="modal" data-target="#myModal" >LOGIN</button> &nbsp;&nbsp; DON'T HAVE AN ACCOUNT? <a href="register" id="signUp">SIGN UP</a>
                </form>
            </div>
        </div>
    </div>
</div>
