<div class="row h-100">
    <div class="col-7 h-100 w-100 px-0"
        style="background-image: url('/bg-main.png');background-size:cover;border:solid 1px;">
        <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100">
            <h2 class="font-weight-bold">LET US BUILD A NIGERIA OF OUR DREAM</h2>
            <p class="">Together we can build a future for this great nation</p>
        </div>
    </div>

    <div class="col-5 px-4 d-flex flex-column justify-content-center align-items-center ">
        {{>messages}}
        {{!-- {{#if msg}}
        <div class="alert position-absolute" id="register-alert" role="alert" style="top:50px;left:auto;">
            {{msg}}
        </div>
        {{/if}} --}}
        <div class="pt-4 py-5 d-flex flex-column justify-content-center align-items-center" id="reg"
            style="height:auto">
            <div class="">
                <p class="font-weight-bold mx-3 m3-5 px-5">We will need some basic information from you
                </p>
            </div>
            <div class="">
                <form id="reg-form" action="registerMember" method="POST" enctype="multipart/formdata"
                    style="width:25vw">
                    <div class="form-group" id="" required>
                        <input type="email" class="form-control" name="email" id="email" placeholder="EMAIL" required>
                    </div>
                    <div class="form-group" id="">
                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="FULL NAME"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="MOBILE NUMBER"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="pass" placeholder="PASSWORD"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password2" id="pass2" placeholder="PASSWORD"
                            required>
                    </div>
                    <div class="form-group form-check d-flex flex-row justify-content-start align-items-center">
                        <input type="checkbox" class="form-check-input" name:"terms" id="check" style="width:auto;"
                            required>
                        <label class="form-check-label" for="terms" id="reg-label" style="font-size:1.1vw;"> Agree to
                            terms and policy.</label>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="mt-3" style="">
                            <button type="submit" class="btn" id="sign-up-btn" data-toggle="modal"
                                data-target="#myModal">SIGN UP</button>
                        </div>
                        <div class="mt-3 d-flex justify-content-center align-items-center" style="height:35px;">
                            <p class="mt-3 text-center" style="color:#575757;font-size:.9vw;">ALREADY HAVE AN
                                ACCOUNT?
                                <a href="login" class="font-weight-bold" id="" style="font-size:.9vw;">LOGIN</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let terms = document.getElementById("check");
    let signupbtn = document.getElementById("sign-up-btn");
    if (terms.checked == false) {
        signupbtn.setAttribute("disabled", true)
    }

    terms.addEventListener("change", () => {
        if (terms.checked == false) {
            //signupbtn.setAttribute("disabled", true)
            signupbtn.toggleAttribute("disabled", true);
            signupbtn.style.pointerEvents = 'none';

        } else {
            signupbtn.toggleAttribute("disabled", false)
        }
    })
</script>