<div class="row" style="height:100vh;">
    <div class="col-md-2 p-0 m-0 h-100" id="menu-bar">
        {{>userMenu}}
    </div>
    <div class="col-md-10 " id="main" style="overflow-y:scroll;overflow-x:hidden">
        <div class="row" #>
            <div class="col-12">
                {{>topnav}}
            </div>
        </div>
        {{!--  --}}
        <div class="row">
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                <div class="mx-3 d-flex flex-column align-items-center justify-content-center" id="success-div">
                    <div class="d-flex flex-column align-items-center justify-content-center" id="success">
                        <svg width="109" height="87" viewBox="0 0 109 87" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M106.724 2.63363C104.628 0.357731 101.231 0.357731 99.1358 2.63363L34.8545 72.4509L10.1458 45.6145C8.05058 43.3386 4.65358 43.3389 2.55792 45.6145C0.462464 47.8902 0.462464 51.5797 2.55792 53.8556L31.0606 84.8122C33.1552 87.0878 36.5547 87.0862 38.6485 84.8122L106.724 10.8749C108.819 8.59926 108.819 4.90952 106.724 2.63363Z"
                                fill="white" />
                        </svg>
                    </div>
                    <p class="my-2 font-weight-bold" style="font-size:1.5vw;">Success!</p>
                    <p class="mb-5">The donation has been made successfully.</p>
                    <button class="my-5" id="done-btn">Done</button>
                </div>
            </div>
            {{!-- Right panel --}}
            <div class="col-6">
                <div class=" pb-3 px-4 mx-3">
                    <div class="row org-img mb-3" style="backgroud:url(ypp.png);width">

                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <p class="mx-5"> # 350,000 raised of #750,000</p>
                        <div class="" style="height: 5px;width:100%;background-color:#EFEFFA;border-radius:16px;">
                            <div class="" style="height: 5px;width:46.7%;background-color:#34CF4D;border-radius:16px;">
                            </div>
                        </div>
                    </div>
                    {{!--  --}}
                    <div class="">
                        <h3 class="font-weight-bolder" style="font-size: 1vw;">Organiser</h3>
                        {{!-- <div class="col-4 "> --}}
                        <div class="d-flex flex-row my-3">
                            <div class="joint-img" style="z-index:1;background:url(Raima.png);"></div>
                            <div class="joint-img" style="z-index:3;background:url(Sanni.png);"></div>
                            <div class="joint-img" style="z-index:4;background:url(Mariam.png);"></div>
                            <div class="joint-img" style="z-index:5;background:url(John.png);"></div>
                        </div>
                        {{!-- </div> --}}
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <p class="" style="font-size:.8vw;width:70%;">Raiman and his team are organizing this
                                fundraiser for the Youth Political Party</p>
                            <button class="mb-1" id="contact-btn">Contact</button>
                        </div>
                        <p class="" style="font-size:.9vw;">This person will receive your donation directly.</p>
                        <div class="">
                            <p class="">We protect your donation</p>
                            <div class="d-flex flex-row align-items-center">
                                <svg style="width:5vw;height:2vw;" width="120" height="69" viewBox="0 0 120 69"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.672 5.464H5L8.744 18.232L12.488 5.464H14.792L9.824 22H7.688L2.672 5.464ZM17.6156 15.52H24.5756C24.4476 14.592 24.0716 13.864 23.4476 13.336C22.8396 12.792 22.0796 12.52 21.1676 12.52C20.2236 12.52 19.4236 12.792 18.7676 13.336C18.1276 13.864 17.7436 14.592 17.6156 15.52ZM26.7356 16.36C26.7356 16.824 26.7276 17.112 26.7116 17.224H17.6156C17.7436 18.152 18.1356 18.896 18.7916 19.456C19.4636 20 20.2796 20.272 21.2396 20.272C21.9276 20.272 22.5596 20.12 23.1356 19.816C23.7116 19.512 24.1516 19.088 24.4556 18.544C24.5356 18.576 24.6796 18.64 24.8876 18.736C25.1116 18.816 25.2876 18.88 25.4156 18.928L26.3276 19.264C25.8636 20.208 25.1676 20.944 24.2396 21.472C23.3276 21.984 22.3036 22.24 21.1676 22.24C19.5516 22.24 18.1836 21.696 17.0636 20.608C15.9756 19.52 15.4316 18.104 15.4316 16.36C15.4316 14.616 15.9756 13.216 17.0636 12.16C18.1516 11.088 19.5196 10.552 21.1676 10.552C22.7996 10.552 24.1276 11.088 25.1516 12.16C26.2076 13.216 26.7356 14.616 26.7356 16.36ZM31.6955 17.92V22H29.5115V10.792H31.6955V13.312C32.2395 11.472 33.2795 10.552 34.8155 10.552C35.6955 10.552 36.3435 10.696 36.7595 10.984L36.4235 13.024C35.9115 12.768 35.3595 12.64 34.7675 12.64C33.7755 12.64 33.0155 13.112 32.4875 14.056C31.9595 15 31.6955 16.288 31.6955 17.92ZM41.1403 22H38.9803V10.792H41.1403V22ZM38.9803 7.672C38.6923 7.4 38.5483 7.064 38.5483 6.664C38.5483 6.264 38.6923 5.928 38.9803 5.656C39.2843 5.384 39.6443 5.248 40.0603 5.248C40.4763 5.248 40.8283 5.384 41.1163 5.656C41.4203 5.928 41.5723 6.264 41.5723 6.664C41.5723 7.064 41.4203 7.4 41.1163 7.672C40.8283 7.944 40.4763 8.08 40.0603 8.08C39.6443 8.08 39.2843 7.944 38.9803 7.672ZM56.3368 22H54.1768V12.64H47.9848V22H45.7768V12.64H43.6168V10.792H45.7768V9.664C45.7768 8.08 46.1368 6.856 46.8568 5.992C47.5768 5.128 48.6488 4.696 50.0728 4.696H51.2968V6.784H50.0728C48.6648 6.784 47.9688 7.744 47.9848 9.664V10.792H56.3368V22ZM54.1768 7.672C53.8888 7.4 53.7448 7.064 53.7448 6.664C53.7448 6.264 53.8888 5.928 54.1768 5.656C54.4808 5.384 54.8408 5.248 55.2568 5.248C55.6728 5.248 56.0248 5.384 56.3128 5.656C56.6168 5.928 56.7688 6.264 56.7688 6.664C56.7688 7.064 56.6168 7.4 56.3128 7.672C56.0248 7.944 55.6728 8.08 55.2568 8.08C54.8408 8.08 54.4808 7.944 54.1768 7.672ZM61.3734 15.52H68.3334C68.2054 14.592 67.8294 13.864 67.2054 13.336C66.5974 12.792 65.8374 12.52 64.9254 12.52C63.9814 12.52 63.1814 12.792 62.5254 13.336C61.8854 13.864 61.5014 14.592 61.3734 15.52ZM70.4934 16.36C70.4934 16.824 70.4854 17.112 70.4694 17.224H61.3734C61.5014 18.152 61.8934 18.896 62.5494 19.456C63.2214 20 64.0374 20.272 64.9974 20.272C65.6854 20.272 66.3174 20.12 66.8934 19.816C67.4694 19.512 67.9094 19.088 68.2134 18.544C68.2934 18.576 68.4374 18.64 68.6454 18.736C68.8694 18.816 69.0454 18.88 69.1734 18.928L70.0854 19.264C69.6214 20.208 68.9254 20.944 67.9974 21.472C67.0854 21.984 66.0614 22.24 64.9254 22.24C63.3094 22.24 61.9414 21.696 60.8214 20.608C59.7334 19.52 59.1894 18.104 59.1894 16.36C59.1894 14.616 59.7334 13.216 60.8214 12.16C61.9094 11.088 63.2774 10.552 64.9254 10.552C66.5574 10.552 67.8854 11.088 68.9094 12.16C69.9654 13.216 70.4934 14.616 70.4934 16.36ZM84.3093 22H82.1253V20.272C81.7573 20.88 81.2133 21.36 80.4933 21.712C79.7893 22.064 79.0213 22.24 78.1893 22.24C76.6213 22.24 75.2773 21.696 74.1573 20.608C73.0693 19.52 72.5253 18.112 72.5253 16.384C72.5253 14.656 73.0693 13.248 74.1573 12.16C75.2293 11.088 76.5653 10.552 78.1653 10.552C79.0293 10.552 79.8133 10.72 80.5173 11.056C81.2213 11.392 81.7573 11.864 82.1253 12.472V4.696H84.3093V22ZM78.3813 12.688C77.3413 12.688 76.4773 13.032 75.7893 13.72C75.1013 14.392 74.7573 15.272 74.7573 16.36C74.7573 17.464 75.1013 18.36 75.7893 19.048C76.4933 19.752 77.3573 20.104 78.3813 20.104C79.4053 20.104 80.2773 19.768 80.9973 19.096C81.7333 18.408 82.1013 17.496 82.1013 16.36C82.1013 15.224 81.7253 14.328 80.9733 13.672C80.2213 13.016 79.3573 12.688 78.3813 12.688ZM96.383 20.272V22H94.199V4.696H96.383V12.472C97.151 11.192 98.463 10.552 100.319 10.552C101.935 10.552 103.279 11.088 104.351 12.16C105.439 13.248 105.983 14.656 105.983 16.384C105.983 18.112 105.431 19.52 104.327 20.608C103.207 21.696 101.863 22.24 100.295 22.24C99.479 22.24 98.711 22.064 97.991 21.712C97.287 21.36 96.751 20.88 96.383 20.272ZM96.407 16.36C96.407 17.512 96.767 18.424 97.487 19.096C98.207 19.768 99.087 20.104 100.127 20.104C101.135 20.104 101.991 19.752 102.695 19.048C103.399 18.344 103.751 17.448 103.751 16.36C103.751 15.272 103.399 14.392 102.695 13.72C102.007 13.032 101.151 12.688 100.127 12.688C99.151 12.688 98.287 13.016 97.535 13.672C96.783 14.328 96.407 15.224 96.407 16.36ZM118.621 10.792L111.661 27.448H109.381L111.733 21.664L107.245 10.792H109.573L112.933 18.904L116.293 10.792H118.621Z"
                                        fill="#1A3E93" />
                                    <path
                                        d="M48.6442 36.9999L42.672 68.9358H52.2178L58.1863 36.9999H48.6442ZM77.4377 50.0088C74.1018 48.5933 72.0569 47.6379 72.0569 46.1901C72.0977 44.8737 73.7862 43.5251 77.5568 43.5251C80.6581 43.4581 82.9375 44.0844 84.6668 44.7076L85.5331 45.0398L86.8309 38.358C84.9454 37.7317 81.9558 37.0416 78.2632 37.0416C68.8365 37.0416 62.1987 41.2533 62.1575 47.2769C62.0796 51.7219 66.9098 54.1886 70.5246 55.6683C74.2173 57.1862 75.4743 58.1703 75.4743 59.5189C75.4335 61.5895 72.4884 62.5449 69.7403 62.5449C65.9326 62.5449 63.8872 62.0528 60.7822 60.8991L59.5252 60.407L58.1903 67.351C60.4327 68.2075 64.5565 68.9614 68.8369 68.9999C78.8549 68.9999 85.3736 64.8521 85.4556 58.4325C85.4883 54.9109 82.9412 52.2137 77.4377 50.0088ZM111.303 37.0988H103.918C101.642 37.0988 99.9127 37.6613 98.9274 39.6681L84.748 68.9358H94.7661L97.5252 62.5992H108.733L110.165 68.9614H119.001L111.303 37.0988ZM100.303 56.2045C100.497 56.2206 104.149 45.8606 104.149 45.8606L107.057 56.2045C107.057 56.2045 102.189 56.2045 100.303 56.2045ZM34.6956 36.9999L25.3432 58.6974L24.3244 54.4185C22.5951 49.4814 17.1735 44.1163 11.123 41.4513L19.6871 68.9039H29.7871L44.7957 37.0034H34.6956V36.9999Z"
                                        fill="#1A3E93" />
                                    <path
                                        d="M21.174 41.1204C20.4452 38.6853 18.1208 37.043 14.9641 37.0079H0.152536L0 37.5988C11.554 40.0465 21.2519 47.5782 24.3981 54.6627L21.174 41.1204Z"
                                        fill="#EFC75E" />
                                </svg>
                                {{!--  --}}
                                <svg class="ml-3" style="width:5vw;height:2vw;" width="89" height="47"
                                    viewBox="0 0 89 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M88.334 23.5C88.334 36.4312 76.5562 47 61.834 47C47.252 47 35.334 36.4312 35.334 23.5C35.334 10.5688 47.1118 0 61.6938 0C76.5562 0 88.334 10.5688 88.334 23.5Z"
                                        fill="#FFB600" />
                                    <path
                                        d="M61.834 0C76.416 0 88.334 10.5688 88.334 23.5C88.334 36.4312 76.5562 47 61.834 47C47.252 47 35.334 36.4312 35.334 23.5"
                                        fill="#F7981D" />
                                    <path
                                        d="M61.834 0C76.416 0 88.334 10.5688 88.334 23.5C88.334 36.4312 76.5562 47 61.834 47"
                                        fill="#FF8500" />
                                    <path
                                        d="M26.2196 0C11.7778 0.124339 0 10.5688 0 23.5C0 36.4312 11.7778 47 26.5 47C33.3704 47 39.5397 44.6376 44.3069 40.9074C45.2884 40.1614 46.1296 39.291 46.9709 38.4206H41.5026C40.8016 37.6746 40.1005 36.8042 39.5397 36.0582H48.9339C49.4947 35.3122 50.0555 34.4418 50.4762 33.5714H37.9973C37.5767 32.8254 37.1561 31.955 36.8757 31.0847H51.4577C52.2989 28.7222 52.8598 26.2354 52.8598 23.6243C52.8598 21.8836 52.5794 20.2672 52.2989 18.6508H36.0344C36.1746 17.7804 36.455 17.0344 36.7354 16.164H51.3175C51.037 15.2936 50.6164 14.4233 50.1958 13.6772H37.8571C38.2778 12.8069 38.8386 12.0608 39.3995 11.1905H48.7936C48.2328 10.3201 47.5317 9.44973 46.6905 8.7037H41.5026C42.3439 7.83333 43.1852 7.0873 44.1667 6.34127C39.5397 2.48677 33.2302 0.248677 26.3598 0.248677C26.3598 -2.40863e-07 26.3598 0 26.2196 0Z"
                                        fill="#FF5050" />
                                    <path
                                        d="M0 23.4999C0 36.4311 11.7778 46.9999 26.5 46.9999C33.3704 46.9999 39.5397 44.6375 44.3069 40.9073C45.2884 40.1613 46.1296 39.2909 46.9709 38.4206H41.5026C40.8016 37.6745 40.1005 36.8041 39.5397 36.0581H48.9339C49.4947 35.3121 50.0555 34.4417 50.4762 33.5713H37.9973C37.5767 32.8253 37.1561 31.9549 36.8757 31.0846H51.4577C52.2989 28.7221 52.8598 26.2354 52.8598 23.6243C52.8598 21.8835 52.5794 20.2671 52.2989 18.6507H36.0344C36.1746 17.7803 36.455 17.0343 36.7354 16.1639H51.3175C51.037 15.2936 50.6164 14.4232 50.1958 13.6772H37.8571C38.2778 12.8068 38.8386 12.0608 39.3995 11.1904H48.7936C48.2328 10.32 47.5317 9.44965 46.6905 8.70362H41.5026C42.3439 7.83325 43.1852 7.08722 44.1667 6.34119C39.5397 2.48669 33.2302 0.248596 26.3598 0.248596H26.2196"
                                        fill="#E52836" />
                                    <path
                                        d="M26.4992 46.9999C33.3695 46.9999 39.5389 44.6375 44.306 40.9073C45.2875 40.1613 46.1288 39.2909 46.9701 38.4206H41.5018C40.8008 37.6745 40.0997 36.8041 39.5389 36.0581H48.933C49.4939 35.3121 50.0547 34.4417 50.4754 33.5713H37.9965C37.5759 32.8253 37.1553 31.9549 36.8748 31.0846H51.4568C52.2981 28.7221 52.859 26.2354 52.859 23.6243C52.859 21.8835 52.5785 20.2671 52.2981 18.6507H36.0336C36.1738 17.7803 36.4542 17.0343 36.7346 16.1639H51.3166C51.0362 15.2936 50.6156 14.4232 50.1949 13.6772H37.8563C38.2769 12.8068 38.8378 12.0608 39.3986 11.1904H48.7928C48.232 10.32 47.5309 9.44965 46.6896 8.70362H41.5018C42.3431 7.83325 43.1844 7.08722 44.1658 6.34119C39.5389 2.48669 33.2293 0.248596 26.359 0.248596H26.2188"
                                        fill="#CB2026" />
                                    <path
                                        d="M35.8962 29.4683L36.3168 27.3545C36.1766 27.3545 35.8962 27.4789 35.6158 27.4789C34.6343 27.4789 34.4941 26.9815 34.6343 26.7328L35.4756 22.381H37.0179L37.4385 20.0186H36.0364L36.3168 18.5265H33.5126C33.5126 18.5265 31.8301 26.7328 31.8301 27.7275C31.8301 29.2196 32.8116 29.8413 34.0735 29.8413C34.9147 29.8413 35.6158 29.5926 35.8962 29.4683Z"
                                        fill="white" />
                                    <path
                                        d="M36.8809 25.4895C36.8809 28.9709 39.5449 29.8413 41.7883 29.8413C43.8914 29.8413 44.7327 29.4683 44.7327 29.4683L45.2936 27.1059C45.2936 27.1059 43.7512 27.7275 42.3491 27.7275C39.2645 27.7275 39.8253 25.7381 39.8253 25.7381H45.574C45.574 25.7381 45.9946 24.1217 45.9946 23.5C45.9946 21.8836 45.0131 19.8942 41.9285 19.8942C38.984 19.6455 36.8809 22.381 36.8809 25.4895ZM41.7883 21.8836C43.3306 21.8836 43.0502 23.5 43.0502 23.6244H39.9655C39.9655 23.5 40.2459 21.8836 41.7883 21.8836Z"
                                        fill="white" />
                                    <path
                                        d="M59.5964 29.4682L60.1573 26.7327C60.1573 26.7327 58.7551 27.3544 57.7737 27.3544C55.8107 27.3544 54.9694 25.9867 54.9694 24.4946C54.9694 21.5105 56.652 19.8941 58.6149 19.8941C60.017 19.8941 61.1387 20.6402 61.1387 20.6402L61.5594 18.029C61.5594 18.029 59.8768 17.4073 58.3345 17.4073C55.1096 17.4073 51.8848 19.8941 51.8848 24.619C51.8848 27.7275 53.5673 29.8412 56.9324 29.8412C58.0541 29.8412 59.5964 29.4682 59.5964 29.4682Z"
                                        fill="white" />
                                    <path
                                        d="M20.4765 19.6455C18.5135 19.6455 17.1114 20.1429 17.1114 20.1429L16.6908 22.2566C16.6908 22.2566 17.9527 21.7593 19.7754 21.7593C20.7569 21.7593 21.5982 21.8836 21.5982 22.6296C21.5982 23.127 21.458 23.2513 21.458 23.2513C21.458 23.2513 20.6167 23.2513 20.1961 23.2513C17.8125 23.2513 15.1484 24.1217 15.1484 26.9815C15.1484 29.2196 16.831 29.7169 17.8125 29.7169C19.7754 29.7169 20.6167 28.5979 20.7569 28.5979L20.6167 29.5926H23.1405L24.2622 22.754C24.2622 19.7698 21.458 19.6455 20.4765 19.6455ZM21.0373 25.2407C21.0373 25.6138 20.7569 27.6032 19.0744 27.6032C18.2331 27.6032 17.9527 26.9815 17.9527 26.6085C17.9527 25.9868 18.3733 25.1164 20.4765 25.1164C20.8971 25.2407 21.0373 25.2407 21.0373 25.2407Z"
                                        fill="white" />
                                    <path
                                        d="M26.926 29.7169C27.6271 29.7169 31.1324 29.8413 31.1324 26.4841C31.1324 23.3757 27.7673 23.9974 27.7673 22.754C27.7673 22.1323 28.3282 21.8836 29.3096 21.8836C29.7303 21.8836 31.2726 22.008 31.2726 22.008L31.6932 19.7699C31.6932 19.7699 30.7118 19.5212 29.0292 19.5212C26.926 19.5212 24.8229 20.2672 24.8229 22.754C24.8229 25.6138 28.3282 25.3651 28.3282 26.4841C28.3282 27.2302 27.3467 27.3545 26.6456 27.3545C25.3837 27.3545 24.1218 26.9815 24.1218 26.9815L23.7012 29.2196C23.8414 29.4683 24.5424 29.7169 26.926 29.7169Z"
                                        fill="white" />
                                    <path
                                        d="M82.871 17.6562L82.3101 21.0133C82.3101 21.0133 81.1884 19.7699 79.6461 19.7699C77.1223 19.7699 74.8789 22.5054 74.8789 25.7382C74.8789 27.7276 76.0006 29.8414 78.3842 29.8414C80.0667 29.8414 81.0482 28.8467 81.0482 28.8467L80.908 29.717H83.7122L85.8154 17.7805L82.871 17.6562ZM81.6091 24.2461C81.6091 25.6139 80.908 27.3546 79.3657 27.3546C78.3842 27.3546 77.8233 26.6086 77.8233 25.3652C77.8233 23.3758 78.8048 22.1324 80.0667 22.1324C81.0482 22.1324 81.6091 22.7541 81.6091 24.2461Z"
                                        fill="white" />
                                    <path
                                        d="M5.19137 29.5927L6.8739 20.6403L7.15433 29.5927H9.11729L12.7628 20.6403L11.2205 29.5927H14.1649L16.4083 17.6562H11.7813L8.97708 24.9922L8.83687 17.6562H4.77073L2.52734 29.5927H5.19137Z"
                                        fill="white" />
                                    <path
                                        d="M48.655 29.5927C49.4962 25.4895 49.6364 22.1324 51.5994 22.7541C51.8798 21.1377 52.3005 20.516 52.5809 19.8943C52.5809 19.8943 52.4407 19.8943 52.02 19.8943C50.7581 19.8943 49.7767 21.3863 49.7767 21.3863L50.0571 20.0186H47.3931L45.5703 29.717H48.655V29.5927Z"
                                        fill="white" />
                                    <path
                                        d="M66.0448 19.6455C64.0819 19.6455 62.6798 20.1429 62.6798 20.1429L62.2591 22.2566C62.2591 22.2566 63.521 21.7593 65.3438 21.7593C66.3253 21.7593 67.1665 21.8836 67.1665 22.6296C67.1665 23.127 67.0263 23.2513 67.0263 23.2513C67.0263 23.2513 66.1851 23.2513 65.7644 23.2513C63.3808 23.2513 60.7168 24.1217 60.7168 26.9815C60.7168 29.2196 62.3993 29.7169 63.3808 29.7169C65.3438 29.7169 66.1851 28.5979 66.3253 28.5979L66.1851 29.5926H68.7089L69.8306 22.754C69.9708 19.7698 67.0263 19.6455 66.0448 19.6455ZM66.7459 25.2407C66.7459 25.6138 66.4655 27.6032 64.7829 27.6032C63.9417 27.6032 63.6612 26.9815 63.6612 26.6085C63.6612 25.9868 64.0819 25.1164 66.1851 25.1164C66.6057 25.2407 66.6057 25.2407 66.7459 25.2407Z"
                                        fill="white" />
                                    <path
                                        d="M72.2136 29.5927C73.0548 25.4895 73.195 22.1324 75.158 22.7541C75.4384 21.1377 75.8591 20.516 76.1395 19.8943C76.1395 19.8943 75.9993 19.8943 75.5786 19.8943C74.3167 19.8943 73.3353 21.3863 73.3353 21.3863L73.6157 20.0186H70.9517L69.1289 29.717H72.2136V29.5927Z"
                                        fill="white" />
                                    <path
                                        d="M31.5527 27.7275C31.5527 29.2196 32.5342 29.8413 33.7961 29.8413C34.7776 29.8413 35.6189 29.5926 35.8993 29.4683L36.3199 27.3545C36.1797 27.3545 35.8993 27.4789 35.6189 27.4789C34.6374 27.4789 34.4972 26.9815 34.6374 26.7328L35.4787 22.381H37.021L37.4416 20.0186H36.0395L36.3199 18.5265"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M38.2812 25.4895C38.2812 28.9709 39.5432 29.8413 41.7865 29.8413C43.8897 29.8413 44.731 29.4683 44.731 29.4683L45.2918 27.1059C45.2918 27.1059 43.7495 27.7275 42.3474 27.7275C39.2627 27.7275 39.8236 25.7381 39.8236 25.7381H45.5723C45.5723 25.7381 45.9929 24.1217 45.9929 23.5C45.9929 21.8836 45.0114 19.8942 41.9268 19.8942C38.9823 19.6455 38.2812 22.381 38.2812 25.4895ZM41.7865 21.8836C43.3289 21.8836 43.6093 23.5 43.6093 23.6244H39.9638C39.9638 23.5 40.2442 21.8836 41.7865 21.8836Z"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M59.5947 29.4682L60.1555 26.7327C60.1555 26.7327 58.7534 27.3544 57.7719 27.3544C55.809 27.3544 54.9677 25.9867 54.9677 24.4946C54.9677 21.5105 56.6502 19.8941 58.6132 19.8941C60.0153 19.8941 61.137 20.6402 61.137 20.6402L61.5576 18.029C61.5576 18.029 59.8751 17.4073 58.3328 17.4073C55.1079 17.4073 53.2852 19.8941 53.2852 24.619C53.2852 27.7275 53.5656 29.8412 56.9307 29.8412C58.0523 29.8412 59.5947 29.4682 59.5947 29.4682Z"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M16.6908 22.3811C16.6908 22.3811 17.9527 21.8837 19.7754 21.8837C20.7569 21.8837 21.5982 22.008 21.5982 22.7541C21.5982 23.2514 21.458 23.3758 21.458 23.3758C21.458 23.3758 20.6167 23.3758 20.1961 23.3758C17.8125 23.3758 15.1484 24.2461 15.1484 27.1059C15.1484 29.344 16.831 29.8414 17.8125 29.8414C19.7754 29.8414 20.6167 28.7223 20.7569 28.7223L20.6167 29.717H23.1405L24.2622 22.8784C24.2622 20.0186 21.458 19.8943 20.3363 19.8943L16.6908 22.3811ZM22.4394 25.2408C22.4394 25.6139 20.7569 27.6033 19.0744 27.6033C18.2331 27.6033 17.9527 26.9816 17.9527 26.6086C17.9527 25.9869 18.3733 25.1165 20.4765 25.1165C20.8971 25.2408 22.4394 25.2408 22.4394 25.2408Z"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M23.8379 29.4683C23.8379 29.4683 24.6792 29.7169 27.0628 29.7169C27.7638 29.7169 31.2691 29.8413 31.2691 26.4841C31.2691 23.3757 27.904 23.9974 27.904 22.754C27.904 22.1323 28.4649 21.8836 29.4464 21.8836C29.867 21.8836 31.4093 22.008 31.4093 22.008L31.83 19.7699C31.83 19.7699 30.8485 19.5212 29.1659 19.5212C27.0628 19.5212 26.3617 20.2672 26.3617 22.754C26.3617 25.6138 28.4649 25.3651 28.4649 26.4841C28.4649 27.2302 27.4834 27.3545 26.7823 27.3545"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M82.3029 21.0133C82.3029 21.0133 81.1813 19.7699 79.6389 19.7699C77.1151 19.7699 76.2738 22.5053 76.2738 25.7381C76.2738 27.7275 75.9934 29.8413 78.377 29.8413C80.0596 29.8413 81.041 28.8466 81.041 28.8466L80.9008 29.717H83.7051L85.8082 17.7805L82.3029 21.0133ZM82.1627 24.2461C82.1627 25.6138 80.9008 27.3545 79.3585 27.3545C78.377 27.3545 77.8162 26.6085 77.8162 25.3651C77.8162 23.3757 78.7977 22.1323 80.0596 22.1323C81.041 22.1323 82.1627 22.754 82.1627 24.2461Z"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M5.19137 29.5927L6.8739 20.6403L7.15433 29.5927H9.11729L12.7628 20.6403L11.2205 29.5927H14.1649L16.4083 17.6562H12.903L8.97708 24.9922L8.83687 17.6562H7.29454L2.52734 29.5927H5.19137Z"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M45.7148 29.5927H48.6593C49.5006 25.4895 49.6408 22.1324 51.6037 22.7541C51.8842 21.1377 52.3048 20.516 52.5852 19.8943C52.5852 19.8943 52.445 19.8943 52.0244 19.8943C50.7625 19.8943 49.781 21.3863 49.781 21.3863L50.0614 20.0186"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M62.2591 22.3811C62.2591 22.3811 63.521 21.8837 65.3438 21.8837C66.3253 21.8837 67.1665 22.008 67.1665 22.7541C67.1665 23.2514 67.0263 23.3758 67.0263 23.3758C67.0263 23.3758 66.1851 23.3758 65.7644 23.3758C63.3808 23.3758 60.7168 24.2461 60.7168 27.1059C60.7168 29.344 62.3993 29.8414 63.3808 29.8414C65.3438 29.8414 66.1851 28.7223 66.3253 28.7223L66.1851 29.717H68.7089L69.8306 22.8784C69.8306 20.0186 67.0263 19.8943 65.9046 19.8943L62.2591 22.3811ZM68.0078 25.2408C68.0078 25.6139 66.3253 27.6033 64.6427 27.6033C63.8015 27.6033 63.521 26.9816 63.521 26.6086C63.521 25.9869 63.9417 25.1165 66.0448 25.1165C66.6057 25.2408 68.0078 25.2408 68.0078 25.2408Z"
                                        fill="#DCE5E5" />
                                    <path
                                        d="M69.2676 29.5927H72.212C73.0533 25.4895 73.1935 22.1324 75.1565 22.7541C75.4369 21.1377 75.8575 20.516 76.1379 19.8943C76.1379 19.8943 75.9977 19.8943 75.5771 19.8943C74.3152 19.8943 73.3337 21.3863 73.3337 21.3863L73.6141 20.0186"
                                        fill="#DCE5E5" />
                                </svg>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-2">
                                    <div class="d-flex align-items-center justify-content-center" id="guarantee">
                                        <svg width="22" height="29" viewBox="0 0 22 29" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.0863 13.7378V6.48626C18.0863 3.14401 14.7903 0.424866 10.7389 0.424866C6.68751 0.424866 3.39154 3.14401 3.39154 6.48626V13.7378C1.44921 15.3102 0.242188 17.4986 0.242188 19.9157C0.242188 24.6906 4.95099 28.5752 10.7389 28.5752C16.5268 28.5752 21.2356 24.6906 21.2356 19.9157C21.2356 17.4986 20.0286 15.3102 18.0863 13.7378ZM5.39092 6.48626C5.39092 4.05351 7.78997 2.0743 10.7389 2.0743C13.6879 2.0743 16.0869 4.05351 16.0869 6.48626V12.4673C12.8489 10.8789 8.73808 10.8254 5.39092 12.4673V6.48626ZM10.7389 26.9258C6.05344 26.9258 2.24156 23.7811 2.24156 19.9157C2.24156 16.0503 6.05344 12.9056 10.7389 12.9056C15.4244 12.9056 19.2363 16.0503 19.2363 19.9157C19.2363 23.7811 15.4244 26.9258 10.7389 26.9258Z"
                                                fill="white" />
                                            <path
                                                d="M10.7383 15.8145C8.78149 15.8145 7.18945 17.1278 7.18945 18.7422C7.18945 20.0702 8.26712 21.1938 9.73866 21.5509V23.2128C9.73866 23.6682 10.1863 24.0375 10.7383 24.0375C11.2904 24.0375 11.738 23.6682 11.738 23.2128V21.5509C13.2096 21.1938 14.2872 20.0702 14.2872 18.7422C14.2872 17.1278 12.6952 15.8145 10.7383 15.8145ZM10.7383 20.0205C9.88395 20.0205 9.18883 19.4471 9.18883 18.7422C9.18883 18.0373 9.88395 17.4639 10.7383 17.4639C11.5927 17.4639 12.2879 18.0373 12.2879 18.7422C12.2879 19.4471 11.5927 20.0205 10.7383 20.0205Z"
                                                fill="white" />
                                        </svg>
                                    </div>

                                </div>
                                <div class="col-9">
                                    <p class="m-0 p-0" style="color:#000;">PLIDE Guarantee</p>
                                    <p class="m-0 p-0" style="color:#000;">If something isn't right,we will refund your
                                        donation.</p> <a href="" class="" style="text-decoration-color: #124814;">Learn
                                        more</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>