body {
    height: 826px;
}
#leftMenu {
    background-color: #124814;
    height: 827px;
    width: 300px;
    float: left;
    margin-left: -30px;
}
#verticalmenubutton {
    color: whitesmoke;    
    text-align: center;
    margin-left: 50px;
    line-height: 50px;
    border-radius: 35px;
}
#middleBottom {
    height: 310px;
    width: 900px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 35px;
    background: #FAFFF9;
    border-radius: 27px;
}
#dashText {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}
#c1, #c2 {
    height: 285px;
    width: 700px;
    background: #FAFFF9;
    box-shadow: 0px 3.80952px 39.0476px -16.1905px rgba(18, 72, 20, 0.35);
    border-radius: 9.52381px;  
    padding-top: 10px;     
    margin-right: 10px;
}
#c3 {
    padding-top: 10px;
    text-align: center;
    width: 203px;
    background-color: white;
    height: 47px;
    margin-top: 130px;
    margin-left: 22px;
    box-shadow: 0px 6.98077px 27.9231px rgba(159, 159, 159, 0.25);
    border-radius: 4.65385px;
}
#middle {
    padding-left: 117px;
    padding-right: 117px;
}
#search-input {
    font-family: Sofia Pro;
    position: relative; 
    vertical-align: top;
}
#top {
    display: inline-flex;
    height: 152px;
}
#topList {
    height: 180px;
}
#topMenu {
    padding-left: 58px;
    padding-right: 95px;
    display: inline-flex;
}
#middleList {
    display: flex;
    height: 380px;
    width: 270px;
    background-color: #124814;
    box-shadow: 0px 4px 40px -8px rgba(18, 72, 20, 0.3);
    border-radius: 10px;
    color: white;
}
#bottomList {
    background-color: #124814;
    margin-top: 20px;
    height: 212px;
    background-color: #124814;
    box-shadow: 0px 4px 40px -8px rgba(18, 72, 20, 0.3);
    border-radius: 10px;
}
#menuA {
    margin-top: 63px;
}
#menuB, #menuC {
    margin-top: 75px;
}
#rightMenu {
    padding-left: 0px;
    padding-right: 0px;
    display: inline-table;
    float: right;
    width: 232px;
    height: 795px;
}
#table {
    text-align: center;
    margin-left: -170px;
    width: 969px;
    margin-top: -66px;
}
#Theader1,#Theader2,#Theader3,#Theader4 {
    box-shadow: 0px 6.98077px 27.9231px rgba(159, 159, 159, 0.25);
    border-radius: 4.65385px;
    background-color: white;
    margin-left: 68px;
    height: 56px;
    padding: 0px;
    line-height: 60px;
}
#view {
    width: 82.5px; 
    margin-right: 5px; 
    background-color: white; 
    height: 27px;
    padding-top: 0px;
    box-shadow: 0px 3.95577px 15.8231px rgba(159, 159, 159, 0.25);
    border-radius: 2.63718px;
}
#delete {
    background-color: #124814; 
    width: 82.5px; 
    color:white; 
    height: 27px;
    padding-top: 0px;
    border-radius: 2.63718px;
}
#ml1 {
    width: 270px;
    padding: 15px;
}
#yourVote {
    width: 270px;
    padding: 16px;
}
#view {
    font-family: Sofia;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #124814;
}
#footer {
    margin-left: 148px;
    height: 25px;
    width: 40px;
    margin-top: -39px;
    color: #124814;
    border: 0px;
    padding: 0px;
    text-align: center;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 3.95577px 15.8231px rgba(159, 159, 159, 0.25);
    border-radius: 2.63718px;
}
#seeMore {
    margin-left: 77px;
    margin-top: 8px;
    height: 25px;
    padding: 8px;
    padding-top: 0px;
    color: #124814;
}
.progress {
    width: 73px;
    height: 73px;
    background: inherit;
    position: relative;
  }
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  