@font-face{
    font-family: 'Sofia Pro';
    src:url('/SofiaProBlack.otf');
    font-weight: 900;
}

@font-face{
    font-family: 'Sofia Pro';
    src:url('/SofiaProRegular.otf');
    font-weight: 400;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('/SofiaProMedium.otf');
    font-weight: 500;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('/SofiaProSemiBold.otf');
    font-weight: 600;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('/SofiaProLight.otf');
    font-weight: 300;
}
body{
    font-family:"Sofia Pro";
    height:100%;
    font-size:1vw;
    color:#124814;
}
/* Top nav partil styling */

#dashText {
    font-size:1.2vw;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

#date{
    height:21px;
    font-style:normal;
    font-weight: normal;
    /* font-size:16px; */
    font-size:.9vw;
    line-height:21px;
    color:#000;
}
#search-btn{
    /* width:40px; */
    height:30px;
    border-radius: 28px 0 0 28px;
    background: #FFFFFF;
    box-shadow: 0px 4px 36px -15px rgba(0, 0, 0, 0.25);
    /* border-radius: 28px; */
    outline: none !important;
    border:none;
}
#search-input{
    border-radius: 0 28px 28px 0;
    height:30px;
    /* width:170px; */
    padding:5px 10px;
    font-size:1vw;
    background-color:#fff;
    box-shadow: 0px 4px 36px -15px rgba(0, 0, 0, 0.25);
    outline: none !important;
    border:none !important;
}
#search{
    box-shadow: 0px 4px 36px -15px rgba(0, 0, 0, 0.25);
}

#main{
    background-color:#FAFFF9;
    height:inherit;
}
#leftMenu{
    background-color:#124814;
    font-style: normal;
}
#notifications, #logout, #card{
    width:47px;
    height:47px;
    box-shadow: 7px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius:50%;
    align-items: center;
    cursor:pointer;
}
/* -------------------------- */

/* --------- USERDASHBOARD --------- */
.info{
    padding:20px;
    background: #FAFFF9;
    box-shadow: 0px 11px 52px -12px rgba(196, 196, 196, 0.3);
    border-radius: 27px;
    font-size: 18px;
    line-height: 24px;
    height: 150px;
    font-style: normal;
    font-weight: bold;
}
.info p {
    height: 48px;
    font-family:'Sofia Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 34px;
    color: #124814;
}

.user-icon{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:90px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
/* ----------------------------------- */
/* Right  */
.right-icon{
    width:40px;
    height: 40px;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 10px;
}
.right-span{
    color: rgba(0, 0, 0, 0.53);
    font-size: 1vw;
}
/* ----------------- */

/* -----------------The top partial styling---------------- */
/* --------------------- Starts here ---------------------- */
  

/* #rightnav{
    margin-left:103px;
    margin-right:61px; 
} */
#userImage{
    margin:0 57px;
}
/* ----------------- Ends here -------------------*/

/* -----------------The right partial styling---------------- */
/* --------------------- Starts here ---------------------- */


/* ----------------------- Ends here ------------------------*/

/* -----------------USER MENU------------------ */

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    background-color:#124814;
    border: none;
    /* background: #FAFFF9; */
border-radius: 35px;
  }
  
  .menu-li a {
    display: block;
    color: #fff;
    padding: 8px 8px;
    text-decoration: none;
  }
  
  .menu-li {
    text-align: center;
    width:80%;
    margin:0 10%;
  } 
  .menu-li:last-child {
    border-bottom: none;
  }
  
  .menu-li a.active {
    background-color: #fff;
    color: #124814;
    border-radius: 35px;
  }
  
  .menu-li a:hover:not(.active) {
    background-color: #fff;
    color: #124814;
    border-radius: 35px;
    text-decoration: none;
  }
  /*-------------------- PROFILE ---------------------*/
#profile{
    background: rgba(196, 196, 196, 0.27);
    border-radius: 20px;
    height: 170px;
}
.profile-head{
    font-size:1vw;
    color:#124814;
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px; */
    line-height: 25px;
}
.profile-input{
    width:55%;
    border-bottom: solid 1px rgba(18, 72, 20, 0.5);
    background-color:#fafffb;
    font-size:1vw;
    padding:0 0 5px 5px;
}
.profile-input:focus{
    outline:none;
}
.profile-form-label{
    width:8%;
}
.profile-button{
    width: 110px;
    height: 36px;
    background-color: #124814;
    border:none;
    /* float:right; */
    /* clear:both; */
    color:#fff;
    margin-right:30px;
}
.img-holder{
    width :8vw;
    height :8vw;
    /* border:solid 1px black; */
    border-radius:50%;
    /* background:url(../../images/img.png); */
}
#edit-btn{
    background-color: #124814;
    color:#fff;
    border:none;
    font-size:1vw;
    width: 90px;
    height: 36px;
}

  /* ------------------------------------------------ */
  /* ------------ EVENTS --------------- */
.event-head{
    font-size:1vw;
    color:#124814;

}
.event-label{
    font-size:.8vw;
    color:#124814;
    width:60%;
}
.name, .comments-icons{
    /* background-image: url('../../images/img1.png'); */
    background-size:contain;
    background-position: center;
    width:3vw;
    height:3vw;
    border-radius:50%;
    /* background:url(John.png); */
}
.event-managers p{
     font-size:.5vw;
     /* width:90%; */
}
.event-managers span{
     font-size:.5vw;
     color:rgba(18, 72, 20, 0.5);
}
.i{
    border:solid 1px black;
}
.show-more{
    box-shadow: 0px 6.98077px 27.9231px rgba(159, 159, 159, 0.25);
border-radius: 4.65385px;
text-align:center;
height: 40px;
margin:45px 0px;
background-color:#fff;
border:none;
}
.show-more a{
    color:#124814;
    font-size:1vw;
    text-decoration:none;
    text-align:center;
    border:none;

}
.show-more a:hover{
    text-decoration: #124814;
}
.event-name, .group-name{
    background: #FAFFF9;
    box-shadow: 0px 3.80952px 39.0476px -16.1905px rgba(18, 72, 20, 0.35);
    border-radius: 9.52381px;
    /* width:100vw; */
}

  /* ----------------------------------- */

  /* ---------------------------- */
.event-activities, .schedule{
    background-color: #124814;
    color:#fff;
    font-size:1vw;
    /* background: #124814; */
    box-shadow: 0px 4px 40px -8px rgba(18, 72, 20, 0.3);
    border-radius: 10px;
    /* height:200px; */
}
.view-btn{
    background: #FFFFFF;
    box-shadow: 0px 3.95577px 15.8231px rgba(159, 159, 159, 0.25);
    border-radius: 2.63718px;
    border:none;
    color:#124814;
}
.see-more{
    background: #FFFFFF;
    box-shadow: 0px 3.95577px 15.8231px rgba(159, 159, 159, 0.25);
    border-radius: 2.63718px;
    color:#124814;
    width:40%;
    height:30px;
    border:none;
}
.event-update-btn{
    background: #FFFFFF;
    box-shadow: 0px 3.95577px 15.8231px rgba(159, 159, 159, 0.25);
    border-radius: 2.63718px;
    color:#124814;
    border:none;
    height:30px;
    width:30%;
}
.event-delete-btn{
    background: #124814;
    border-radius: 2.63718px;
    color:#fff;
    border:none;
    height:30px;
    width:30%;
}
.time-schedule{
    color:rgba(255, 255, 255, 0.63);
    font-size:.7vw;
}
.th-div{
    background: #FFFFFF;
    box-shadow: 0px 6.98077px 27.9231px rgba(159, 159, 159, 0.25);
    border-radius: 4.65385px;
}
  /* ---------------------------- */

  /*------------- HOME PAGE -------------*/
.overlay{
    background-color:#124814;
    opacity:.7;
}
.overlay h2{
    color:#fff;
    font-size:1.5vw;
}
.overlay p{
    color:#fff;
    font-size:1vw;
    line-height: 32px;
}
#index-right{
    background: #124814;
    box-shadow: 0px 14px 34px -14px rgba(18, 72, 20, 0.3);
    border-radius: 15px;
    border:solid 1px;
    height:70%;
    color:#fff;
    font-size:1.3vw;
    margin:15% 0;
}
#get-started-btn{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 8.83959px 19.5734px -10.1024px rgba(18, 72, 20, 0.3);
    border-radius: 6.31399px;
    background-color: #124814;
    color:#fff;
    font-weight:normal;
    font-size:1.1vw;
    width:60%;
    height:50px;
    /* margin:0 20%; */
}
#login-btn{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 8.83959px 19.5734px -10.1024px rgba(18, 72, 20, 0.3);
    border-radius: 6.31399px;
    color: #124814;
    background-color:#fff;
    font-weight:normal;
    font-size:1.1vw;
    width:60%;
    height:50px;
    /* margin:0 20%; */
}
  /* --------------------------------- */
  /* ------------LOGIN PAGE -----------*/
#login-right{
    color: #124814;
    box-shadow: 0px 14px 34px -14px rgba(18, 72, 20, 0.3);
    border-radius: 15px;
    border:solid 1px #124814;
    height:70%;
    background-color:#fff;
    font-size:1.3vw;
    /* margin:15% 0; */
    width:80%;
}
#fp-link{
    font-size:.5vw;
    color:#124814;
}
#remember-me{
    font-size:.7vw;
    width:70px;
    margin-top:15px;
}
#remember-me-input{
    margin-top:15px;
    width:auto;
}
#sign-in-btn{
    width: 105px;
    height: 35px;
    background: #124814;
    color:#fff;
    font-size:1vw;
}
#reg:link{
    color:#124814;
    text-decoration:#124814;
}
#reg:hover{
    text-decoration:#124814;
    color:#124814;
}
  /* --------------------------------- */
  /* --------- REG FORM-------------- */
.form-group input{
    width:100%;
    font-size:1vw;
}
#reg{
    color: #124814;
    box-shadow: 0px 14px 34px -14px rgba(18, 72, 20, 0.3);
    border-radius: 15px;
    border:solid 1px #124814;
    height:70%;
    background-color:#fff;
    font-size:1.3vw;
    /* margin:0; */
    width:90%;
}
#reg-label{
    color: #575757;
}
#fp-email{
    width:100%;
}
#fp-right{
    color: #124814;
    box-shadow: 0px 14px 34px -14px rgba(18, 72, 20, 0.3);
    border-radius: 15px;
    border:solid 1px #124814;
    height:77%;
    background-color:#fff;
    font-size:1.3vw;
    width:80%;
}
.btn{
    background-color: #124814;
    color: #fff;
}
  /* --------------------------------- */
  /* ------------ Course funding Page -------- */
.see-all{
    border:solid 2px #124814;
    color:#124814;
    box-sizing: border-box;
    border-radius: 6.07944px;
    width:7vw;
    height:30px;
    background-color:#fff;
    font-size:1.1vw;
}
.cat{
    background: #FAFFF9;
    box-shadow: 0px 7px 35px -14px rgba(18, 72, 20, 0.3);
    border-radius: 10px;
    color:#124814;
}
.fund-btn{
    background: #124814;
    box-shadow: 0px 3.95577px 15.8231px rgba(159, 159, 159, 0.25);
    border-radius: 2.63718px;
    border:solid 1px #124814;
    color:#fff;
    width:6vw;
}
.org-div{
    background: #FAFFF9;
    box-shadow: 0px 7px 35px -14px rgba(18, 72, 20, 0.3);
    border-radius: 10px;
}
.organisation-img{
    font-size:1vw;
    border-radius: 10px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.div{
    background: #FFFFFF;
    box-shadow: 0px 6.98077px 27.9231px rgba(159, 159, 159, 0.25);
    border-radius: 4.65385px;
    height:50px;
    width:130px;
    
}
.div a{
    color:#124814;
}
.org-img{
    background: #F7F7F7;
    box-shadow: 0px 3.63402px 37.2487px -15.4446px rgba(18, 72, 20, 0.35);
    border-radius: 9.08504px;
    width:100%;
    /* background-image: url(org-img.png);  */
    background-size:cover;
    background-repeat: no-repeat;
    height:300px;
}

  /* --------------------------------- */

.about{
    border: solid 1px #000000;
    box-sizing: border-box;
    border-radius: 6.07944px;
    font-size:.8vw;
}
#contact-btn{
    border: 2px solid #124814;
    box-sizing: border-box;
    border-radius: 6.07944px;
    height:35px;
    width:8vw;
  }
.org-btn{
    width:60%;
    height:40px;
  }
.donator-icon{
    width:4vw;
    height:4vw;
    border-radius:50%;
    background: rgba(18, 72, 20, 0.28);
 }
 #donation-info{
    background: #FAFFF9;
    box-shadow: 0px 3.25203px 33.3333px -13.8211px rgba(18, 72, 20, 0.35);
    border-radius: 8.13008px;
 }
 .more-donations{
    background: #FFFFFF;
    box-shadow: 0px 11px 37px -14px rgba(18, 72, 20, 0.3);
    border-radius: 23px;
    width:12vw;
 }
 .commenter-icon{
    width:5vw;
    height:5vw;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
 }
#donation-form input{
    padding:0 1vw;
    font-size:1vw;
 }
.donation-form-div{
    background: #FAFFF9;
    box-shadow: 0px 3.25203px 33.3333px -13.8211px rgba(18, 72, 20, 0.35);
    border-radius: 8.13008px;
}
#guarantee{
    background: rgba(18, 72, 20, 0.5);
    border: 2.86275px solid #FFFFFF;
    box-shadow: 0px 1.9085px 5.24837px -0.954248px rgba(0, 0, 0, 0.15);
    border-radius:50%;
    width:4vw;
    height:4vw;
}
#done-btn{
    background: #124814;
    box-shadow: 0px 18px 40px -15px rgba(70, 99, 168, 0.35);
    border-radius: 5px;
    color:#fff;
    width:50%;
    height:35px;
    border:none;
}
#success{
    background: #89C831;
    box-shadow: 0px 37.8621px 84.1379px -31.5517px rgba(137, 200, 49, 0.35);
    width:15vw;
    height:15vw;
    border-radius:50%;
}
#success-div{
    background: #FAFFF9;
box-shadow: 0px 3.25203px 33.3333px -13.8211px rgba(18, 72, 20, 0.35);
border-radius: 8.13008px;
height:100vh;
width:95%;
}
.candidates-icon{
    width:5vw;
    height:5vw;
    border-radius:50%;
    border:solid 1px;
    background-size:contain;
}
.candidates-name{
    color:#000;
    width:50%;
    font-size:.8vw;
}
#add-div{
    width: 2vw;
    height:2vw;
    background-color:#fff;
    border-radius:50%;
    border:none;
}
#add-group-btn{
    /* width:; */
    background: #FAFFF9;
    font-size:.7vw;cursor:pointer
}
.btn-white-1{
    background:#fff;
    color:#124814;
    border:solid 2px #124814;
    border-radius: 5px;
    height:30px;
    font-size:.8vw;
}
.btn-white-2{
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    height:30px;
    font-size:.8vw;
}
.btn-green{
    background:#124814;
    color:#fff;
    border:solid 2px #124814;
    border-radius: 5px;
    height:30px;
    font-size:.8vw;
}
#form-add{
    /* border: 1px solid rgba(18, 72, 20, 0.5); */
    box-sizing: border-box;
    box-shadow: 0px 2.97867px 30.5314px -12.6594px rgba(18, 72, 20, 0.35);
    /* border-radius: 15px; */
}
.drag-drop{
    background-color: #fff;
    box-shadow: 0px 3.63402px 37.2487px -15.4446px rgba(18, 72, 20, 0.35);
    border-radius: 9.08504px;
    width:80%;
    height:45%;
}
.joint-img{
    width:5vh;
    height:5vh;
    border-radius:50%;
    margin-left:-.5vw;
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
}
.wrap-text{
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.progress-title{
    width:40vw;
}
#fund-progress{
    /* width:79%; */
    height:5px;
    background-color: #0099DF;
    border-radius:15px;
}
#reg-progress{
    /* width:60%; */
    height:5px;
    background-color:#34CF4D;
    border-radius:15px;
}
#event-progress{
    /* width:45%; */
    height:5px;
    background-color:#E0CA3C;
    border-radius:15px;
}
.d{
    width:100%;
    height:5px;
    background-color: #c5c5c5;
    border-radius:15px;
}
.stat-icons{
    height:3vw;
    width:3vw;
    border-radius:10px;
    background-color:rgba(255, 199, 21, 0.05);
}
#register-alert{
    background-color: #124814;
    opacity: 0.5;
    color:#fff;
}

#add-profile{
    cursor:pointer;
    position:relative;
    width:2.5vw;
    height:2.5vw;
    border-radius:50%;
    left:5.5vw;
    background-color:#124814;
    opacity:.8;
    font-size:1vw;
    color:#FFF;
    display:flex;
    align-items: center;
}

.hide-me{
    display: none;
    transition:ease-in .5s;
}

.show-me{
    display:block;
    transition:ease-in .5s;
}
#basic_info{
    display:block;
    cursor:pointer;
}
#added_info{
    cursor: pointer;    
}
#members-list{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(18, 72, 20, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 2.97867px 30.5314px -12.6594px rgba(18, 72, 20, 0.35);
    border-radius: 15px;
}
#members-list td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px 8px;
}
#members-list tr:nth-child(even) {
    background-color: #dddddd;
}
#view-info{
    background:#FFF;
    box-shadow: 0px 9px 39px rgba(196, 196, 196, 0.25);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top:20px;
}