@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProBlack.otf');
    font-weight: 900;
}

@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProRegular.otf');
    font-weight: 400;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProMedium.otf');
    font-weight: 500;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProSemiBold.otf');
    font-weight: 600;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProLight.otf');
    font-weight: 300;
}
body{
    font-family:"Sofia Pro";
}
/* Top nav partil styling */

#dashText {
    font-size:1.2vw;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

#date{
    height:21px;
    font-style:normal;
    font-weight: normal;
    /* font-size:16px; */
    font-size:.9vw;
    line-height:21px;
    color:#000;
}
#search-btn{
    /* width:40px; */
    height:30px;
    border-radius: 28px 0 0 28px;
    /* border:none; */
    background-color:#fff;
}
#search-input{
    border-radius: 0 28px 28px 0;
    height:30px;
    /* width:170px; */
    padding:5px 10px;
    font-size:1vw;
    background-color:#fff;
}

#main{
    background-color:#FAFFF9;
}
#leftMenu{
    background-color:#124814;
    font-style: normal;
}
#notifications, #logout, #card{
    width:47px;
    height:47px;
    box-shadow: 7px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius:50%;
    align-items: center;
}
/* -------------------------- */

/* --------- USERDASHBOARD --------- */
.info{
    padding:20px;
    background: #FAFFF9;
    box-shadow: 0px 11px 52px -12px rgba(196, 196, 196, 0.3);
    border-radius: 27px;
    font-size: 18px;
    line-height: 24px;
    height: 150px;
    font-style: normal;
    font-weight: bold;
}
.info p {
    height: 48px;
    font-family:'Sofia Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 34px;
    color: #124814;
}

.user-icon{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:90px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
/* ----------------------------------- */
/* Right  */
.right-icon{
    width:40px;
    height: 40px;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 10px;
}
.right-span{
    color: rgba(0, 0, 0, 0.53);
    font-size: 1vw;
}
/* ----------------- */

/* -----------------The top partial styling---------------- */
/* --------------------- Starts here ---------------------- */
  

#rightnav{
    margin-left:103px;
    margin-right:61px;
}
#userImage{
    margin:0 57px;
}
/* ----------------- Ends here -------------------*/

/* -----------------The right partial styling---------------- */
/* --------------------- Starts here ---------------------- */


/* ----------------------- Ends here ------------------------*/

/* -----------------USER MENU------------------ */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    background-color:#124814;
    border: none;
    /* background: #FAFFF9; */
border-radius: 35px;
  }
  
  li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    width:80%;
    margin:0 10%;
  } 
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #fff;
    color: #124814;
    border-radius: 35px;
  }
  
  li a:hover:not(.active) {
    background-color: #fff;
    color: #124814;
    border-radius: 35px;
    text-decoration: none;
  }
  /*-------------------- PROFILE ---------------------*/
#profile{
    background: rgba(196, 196, 196, 0.27);
    border-radius: 20px;
    height: 170px;
}
.profile-head{
    font-size:1vw;
    color:#124814;
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px; */
    line-height: 25px;
}
.profile-input{
    width:55%;
    border-bottom: solid 1px rgba(18, 72, 20, 0.5);
    background-color:#fafffb;
    font-size:1vw;
    padding:0 0 5px 5px;
}
.profile-input:focus{
    outline:none;
}
label{
    width:20%;
}
.profile-button{
    width: 110px;
    height: 36px;
    background-color: #124814;
    border:none;
    /* float:right; */
    /* clear:both; */
    color:#fff;
    margin-right:30px;
}
.img-holder{
    width :107px;
    height :107px;
    border:solid 1px black;
    border-radius:50%;
    background:url(../../images/img.png);
}
#edit-btn{
    background-color: #124814;
    color:#fff;
    border:none;
    font-size:1vw;
    width: 90px;
    height: 36px;
}

  /* ------------------------------------------------ */