@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProBlack.otf');
    font-weight: 900;
}

@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProRegular.otf');
    font-weight: 400;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProMedium.otf');
    font-weight: 500;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProSemiBold.otf');
    font-weight: 600;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProLight.otf');
    font-weight: 300;
}

#leftMenu {
    display:inline-block;
    background-color: #124814;
    height: 827px;
    width: 300px;
    /* float: left; */
    margin-left: -30px;
    font-family: 'Sofia Pro';
}

.verticalmenubutton {
    color: whitesmoke;    
    text-align: center;
    margin-left: 50px;
    line-height: 50px;
    border-radius: 35px;
}

/* -----------------The top partial styling---------------- */
/* --------------------- Starts here ---------------------- */
.title {
    height: 155px;
    /* left: 388px; */
    top: 97px;
    margin-top: 36px;
    font-family: 'Sofia Pro';
    font-weight: 600;
    font-size: 24px;
    line-height: 33.22px;
    color: #000;
    /* border: solid 1px #000; */
}
#dashText {
    font-size:20px;
    margin:0 35px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    /* font-size: 24px; */
    line-height: 33px;
}
#search{
    margin:0 100px 0 150px;
    width:369px;
    height:53px;
    box-shadow: 0px 4px 36px -15px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    background-color:#fff;
}
#search-btn{
    /* display:inline; */
    width:40px;
    height:53px;
    border-radius: 28px 0 0 28px;
    border:none;
    padding:0;
    background-color:#fff;
}
#search-input{
    border-radius: 0 28px 28px 0;
    height:50px;
    width:328px;
    margin-left:49px;
    margin-top: -53.5px;
    padding:10px 0 5px 0;
    border:none;
    font-size:18px;
}
#date{
    /* width:113px; */
    height:21px;
    font-style:normal;
    font-weight: normal;
    font-size: 16px;
    line-height:21px;
    color:#000;
}
  
#notifications, #logout, #card{
    display:flex;
    align-items: center;
    justify-content: center;
    width:47px;
    height:47px;
    box-shadow: 7px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius:50%;
    align-items: center;
}
#rightnav{
    margin-left:auto;
    margin-right:61px;
}
#userImage{
    margin:0 57px;
}
/* ----------------- Ends here -------------------*/

/* -----------------The right partial styling---------------- */
/* --------------------- Starts here ---------------------- */
#middle-right{
    border:solid 1px #000;
    float:right;
    clear: both;
    width:600px;
    margin-left:auto;
    margin-right:-60px;
}



/* ----------------------- Ends here ------------------------*/

#middle{
    display:flex;
    flex-direction: row;
}
.info{
    /* width: 348px; */
    height: 197px;
    background: #FAFFF9;
    box-shadow: 0px 11px 52px -12px rgba(196, 196, 196, 0.3);
    border-radius: 27px;
    width:30%;
}
#middle-left{
    display:flex;
    flex-direction: row;
    align-items: ;
    justify-content: space-between;
    /* margin:10px 0 0 -80px; */
    width:80%;
}
#info-holder{
    display:flex;
    flex-direction: row;
    align-items: ;
    justify-content: space-between;
    margin:10px 0 0 -80px;
    width:100%;
}
#middle-right{
    width:300px;
}
#user-icon{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#head{
    border:solid 1px #000;
}
#categories{
    margin-left:auto;
    border:solid 1px #000;
    margin-top:20px;
}

#cat-text{
    display: inline;
    margin:0 35px;
    font-size:18px;
    margin:0 35px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    /* font-size: 24px; */
    line-height: 28px;
    color: #124814;
}
#see-all{
    width: 118px;
    height: 40px;
    border: 2px solid #124814;
    box-sizing: border-box;
    border-radius: 6.07944px;
    color: #124814;
    line-height:25px;
    font-size:18px;
    font-weight:600;
    float:right;
    clear:both;
    margin:0 390px 0 auto;
    /* border:solid 1px #000; */
}