@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProBlack.otf');
    font-weight: 900;
}

@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProRegular.otf');
    font-weight: 400;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProMedium.otf');
    font-weight: 500;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProSemiBold.otf');
    font-weight: 600;
}
@font-face{
    font-family: 'Sofia Pro';
    src:url('../../fonts/SofiaProLight.otf');
    font-weight: 300;
}
body{
    font-family:"Sofia Pro";
}
/* Top nav partil styling */
#dashText {
    font-size:24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

#date{
    height:21px;
    font-style:normal;
    font-weight: normal;
    font-size:16px;
    line-height:21px;
    color:#000;
}
#search-btn{
    width:40px;
    height:30px;
    border-radius: 28px 0 0 28px;
    border:none;
    padding:0;
    background-color:#fff;
}
#search-input{
    border-radius: 0 28px 28px 0;
    height:30px;
    width:170px;
    padding:10px 0 5px 0;
    border:none;
    font-size:16px;
}


#main{
    background-color:#FAFFF9;
}
#leftMenu{
    background-color:#124814;
    font-style: normal;
}
#notifications, #logout, #card{
    width:47px;
    height:47px;
    box-shadow: 7px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius:50%;
    align-items: center;
}
/* -------------------------- */

/* --------- USERDASHBOARD --------- */
.info{
    padding:20px;
    background: #FAFFF9;
    box-shadow: 0px 11px 52px -12px rgba(196, 196, 196, 0.3);
    border-radius: 27px;
    font-size: 18px;
    line-height: 24px;
    height: 197px;
    font-style: normal;
    font-weight: bold;
}
.info p {
    height: 48px;
    font-family:'Sofia Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #124814;
}

.user-icon{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:90px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
/* ----------------------------------- */
/* Right  */
.right-icon{
    width: 60px;
    height: 59px;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 10px;
}
.right-span{
    color: rgba(0, 0, 0, 0.53);
}
/* ----------------- */
/* #leftMenu {
    display:inline-block;
    background-color: #124814;
    height: 827px;
    width: 17%;
    margin-left: -30px;
    font-family: 'Sofia Pro';
}

.verticalmenubutton {
    color: whitesmoke;    
    text-align: center;
    margin-left: 50px;
    line-height: 50px;
    border-radius: 35px;
} */

/* -----------------The top partial styling---------------- */
/* --------------------- Starts here ---------------------- */
/* .title {
    height: 155px;
    top: 97px;
    margin-top: 36px;
    font-family: 'Sofia Pro';
    font-weight: 600;
    font-size: 1em;
    line-height: 33.22px;
    color: #000;
}
#dashText {
    font-size:1em;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}
#search{
    width:30%;
    height:40px;
    box-shadow: 0px 4px 36px -15px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    background-color:#fff;
    border:solid 1px red;
}
#search-btn{
    width:12%;
    height:40px;
    border-radius: 28px 0 0 28px;
    border:none;
    padding:0;
    background-color:#fff;
}
#search-input{
    border-radius: 0 28px 28px 0;
    height:40px;
    width:92%;
    margin-left:49px;
    margin-top: -40px;
    padding:10px 0 5px 0;
    border:none;
    font-size:.9em;
}
#date{
    height:21px;
    font-style:normal;
    font-weight: normal;
    font-size:.8em;
    line-height:21px;
    color:#000;
}
  

#rightnav{
    margin-left:103px;
    margin-right:61px;
}
#userImage{
    margin:0 57px;
} */
/* ----------------- Ends here -------------------*/

/* -----------------The right partial styling---------------- */
/* --------------------- Starts here ---------------------- */
/* #middle-right{
    border:solid 1px #000;
    float:right;
    clear: both;
    width:600px;
    margin-left:auto;
    margin-right:-60px;
}
 */


/* ----------------------- Ends here ------------------------*/


/* #middle-right{
    width:300px;
}

#head{
    border:solid 1px #000;
}
#categories{
    margin-left:auto;
    border:solid 1px #000;
    margin-top:20px;
}

#cat-text{
    display: inline;
    margin:0 35px;
    font-size:18px;
    margin:0 35px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: #124814;
}
#see-all{
    width: 118px;
    height: 40px;
    border: 2px solid #124814;
    box-sizing: border-box;
    border-radius: 6.07944px;
    color: #124814;
    line-height:25px;
    font-size:18px;
    font-weight:600;
    float:right;
    clear:both;
    margin:0 390px 0 auto;
} */