/* body {
    height: 826px;
}

#rightDisplay{
    flex: 1;
}

#middleBottom {
    height: 310px;
    width: 900px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 35px;
    background: #FAFFF9;
    box-shadow: 0px 11px 52px -12px rgba(196, 196, 196, 0.3);
    border-radius: 27px;
}
#chart{
    padding-top: 45px;
    width: 300px;
    float: right;
}
#myProgress {
    width: 200px;
    height: 10px;
    padding-bottom: 80px;
}
#myBar {
    width: 12%;
    height: 5px;
    background-color: #4CAF50;
}
#progressFont {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
#middle {
    padding-left: 117px;
    padding-right: 117px;
}
#middleList {
    display: flex;
    padding-top: 140px;
}
#ml2 {
    padding-left: 23px;
    width: 86px;
    height: 45px;
}
#rightMenu {
    padding-left: 0px;
    padding-right: 0px;
    display: inline-table;
    float: right;
    width: 232px;
    height: 730px;
}
#bottomList {
    display: table-footer-group;
} */

/* ------------------------------------------------------ */
/* 
.info p {
    width: 104px;
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  
.info div p {
    display:inline;
    width: 62px;
    height: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #124814;
}
  
#middle{
    display:flex;
    flex-direction: row;
}
#middle-left{
    display:flex;
    flex-direction: column;
    align-items: ;
    justify-content: space-between;

    width:80%;
}
#info-holder{
    display:flex;
    flex-direction: row;
    align-items: ;
    justify-content: space-between;
    margin:10px 0 0 -80px;
    width:100%;
}
*/
#statistics{
    /* width:65%; */
    height: 390px;
    padding:30px;
    background: #FAFFF9;
    box-shadow: 0px 11px 52px -12px rgba(196, 196, 196, 0.3);
    border-radius: 27px;
}

#statistic-chart{
    display:flex;
    flex-direction: row;

}
#reg-progress{
    width:60%;
    height: 8px;
    background: #34CF4D;
    border-radius: 16px;
}
.percent{
    display:inline;
    margin-left: 20px;
    width: 30px;
    height: 21px;
    font-style: normal;
    font-weight: normal;
    /* font-size: 16px; */
    font-size: .9vw;
    line-height: 21px;
    color: #C4C4C4;
}
#fund-progress{
    height: 8px;
    background: #0099DF;
    border-radius: 16px;
    width:79%;
}
#event-progress{
    height: 8px;
    background: #E0CA3C;
    border-radius: 16px;
    width:45%;
}
.progress-title{
    display:inline-block;
    width:150px;
}
.value{
    margin-top:10px;
}
.value #d{
    display:inline-block;
    margin-top:0px;
    width: 250px;
    height: 8px;
    background-color: #EFEFFA;
    border-radius: 16px;
}
.stat-icons{
    float:right;
    clear:both;
    /* display:inline-block; */
    margin-left:30px;
    border-radius: 10px;
}
.total-icon{
    width: 40px;
height: 40px;
background-color: #FFFFFF;
box-shadow: 0px 4px 38px -15px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
